!Software Version V800R024C00SPC500
!Last configuration was updated at 2026-05-04 08:01:47+08:00 by enerelt
!Last configuration was saved at 2026-05-04 08:02:03+08:00 by enerelt
!kms_feature --
#
loop-detect trigger enable
#
mpls ldp-srbe convergence enhance
#
clock timezone ULAT add 08:00:00
#
sysname TUV_Zuunmod_Mobi
#
set neid 79ea6d
lldp enable-dcn authentication %^%#/vH]8;MUZ$kCQ=R-i!<-CADoCJ*zC3k]UwY)bg($%^%#
#
undo FTP server-source all-interface
undo FTP ipv6 server-source all-interface
#
info-center filter-id bymodule-alias configuration hwCfgB2SOperate
info-center filter-id bymodule-alias info IM_LOGFILE_AGING
info-center loghost source LoopBack0
info-center loghost 192.168.242.11
#
ntp-service server source-interface all disable
ntp-service ipv6 server source-interface all disable
#
vlan batch 57 61 to 62 819 968 to 969 985 996
#
undo icmp name timestamp-reply send
#
router id 10.150.13.6
#
undo telnet server enable
undo telnet server-source all-interface
undo telnet ipv6 server-source all-interface
#
diffserv domain default
#
soc
#
priority-template default
#
ip vpn-instance MOBICOM-3G
 ipv4-family
  route-distinguisher 65530:300
  apply-label per-instance
  vpn-target 65530:3333 export-extcommunity
  vpn-target 65530:3000 import-extcommunity
#
ip vpn-instance MOBICOM-LTE
 ipv4-family
  route-distinguisher 65530:400
  apply-label per-instance
  vpn-target 65530:400 export-extcommunity
  vpn-target 65530:400 import-extcommunity
#
ip vpn-instance MOBICOM-USMS
 ipv4-family
  route-distinguisher 65530:600
  apply-label per-instance
  vpn-target 65530:6666 export-extcommunity
  vpn-target 65530:6000 import-extcommunity
#
ip vpn-instance TRX-MONITORING
 ipv4-family
  route-distinguisher 65530:500
  apply-label per-instance
  vpn-target 65530:5555 export-extcommunity
  vpn-target 65530:5000 import-extcommunity
#
ip vpn-instance __LOCAL_OAM_VPN__
 ipv4-family
 ipv6-family
#
ip dcn vpn-instance __dcn_vpn__
 ipv4-family
#
undo pnp enable
#
hwtacacs-server template ipn
 hwtacacs-server authentication 192.168.242.17
 hwtacacs-server authorization 192.168.242.17
 hwtacacs-server accounting 192.168.242.17
 hwtacacs-server source-ip 10.150.13.6
 hwtacacs-server shared-key cipher %^%#<C-R-b.$|W7}%90z+a=%&1^G'TW^%28(q99h\czS%^%#
 hwtacacs-server user-name original
#
bfd
 mpls-passive
#
mpls lsr-id 10.150.13.6
#
mpls
 mpls bfd enable
 mpls bfd min-tx-interval 300 min-rx-interval 300
#
mpls l2vpn
#
mpls ldp
 #
 ipv4-family
#
mpls ldp remote-peer TCB#1-1
 remote-ip 10.8.90.1
#
mpls ldp remote-peer TUV_MTC_8EA
 remote-ip 10.8.90.13
#
mpls ldp remote-peer TCB#1-2
 remote-ip 10.8.90.2
#
dhcp server request-packet all-interface disable
#
dot1x-template 1
#
dhcp relay unnumbered database authentication-mode force-check
#
acl number 2001
 rule 5 permit source 192.168.242.0 0.0.0.255
#
security password
 #
 rule admin
  forbidden word changeme_123
#
aaa
 user-password password-force-change disable
 local-user root password irreversible-cipher $1c$]f(3Q<j7uS$!0!)8@e`\+lj]vQx\2l&y-$M(|\n_ERFU_BF$!6X$
 local-user root service-type ssh
 local-user root state block fail-times 3 interval 5
 local-user root user-group manage-ug
 local-user mobicom password irreversible-cipher $1c$I'Q7=e=t-2$HRueJi'gEP#;\cA$PQ%GEU\1&roAN(8v/e6cc-`3$
 local-user mobicom service-type ssh
 local-user mobicom state block fail-times 3 interval 5
 local-user mobicom user-group manage-ug
 #
 authentication-scheme default0
 #
 authentication-scheme default1
 #
 authentication-scheme default
  authentication-mode hwtacacs local
 #
 authorization-scheme default
  authorization-mode hwtacacs local
  authorization-cmd 7 hwtacacs local
  authorization-cmd 15 hwtacacs local
  authorization-cmd hwtacacs local
 #
 accounting-scheme default0
 #
 accounting-scheme default1
 #
 accounting-scheme default_admin
  accounting-mode hwtacacs
 #
 domain default0
 #
 domain default1
 #
 domain default_admin
  hwtacacs-server ipn
#
license
 active port-basic slot 2 port 0-1,3,14-15,24-26
 active port-mode-channel slot 2 port 0-15
#
warranty
#
isis 1
 is-level level-1
 cost-style wide
 timer lsp-generation 1 50 50 level-2
 bfd all-interfaces enable
 network-entity 49.0001.0101.5001.3006.00
 is-name Zuunmod_Mobi
 timer spf 1 50 50
 set-overload on-startup
 frr
  loop-free-alternate level-1
  loop-free-alternate level-2
#
controller E1 0/3/0
 using e1
 undo shutdown
#
controller E1 0/3/1
 using e1
 undo shutdown
#
controller E1 0/3/2
 undo shutdown
#
controller E1 0/3/3
 using e1
 undo shutdown
#
controller E1 0/3/4
 using e1
 undo shutdown
#
controller E1 0/3/5
 undo shutdown
#
controller E1 0/3/6
 undo shutdown
#
controller E1 0/3/7
 using e1
 description USMS: TUV_Zuunmod_Mobi
 undo shutdown
#
controller E1 0/3/8
 undo shutdown
#
controller E1 0/3/9
 undo shutdown
#
controller E1 0/3/10
 undo shutdown
#
controller E1 0/3/11
 undo shutdown
#
controller E1 0/3/12
 undo shutdown
#
controller E1 0/3/13
 undo shutdown
#
controller E1 0/3/14
 undo shutdown
#
controller E1 0/3/15
 undo shutdown
#
interface Vlanif57
 description 3G Huawei
 ip binding vpn-instance MOBICOM-3G
 ip address 10.7.232.46 255.255.255.248
#
interface Vlanif61
 description 3G - IUB
 ip binding vpn-instance MOBICOM-3G
 ip address 10.15.232.46 255.255.255.248
#
interface Vlanif62
 description 3G - OAM
 ip binding vpn-instance MOBICOM-3G
 ip address 10.100.232.46 255.255.255.248
#
interface Vlanif819
 ip binding vpn-instance TRX-MONITORING
 ip address 10.12.232.46 255.255.255.248
#
interface Vlanif968
 description LTE - S1X2
 ip binding vpn-instance MOBICOM-LTE
 ip address 10.4.232.46 255.255.255.248
#
interface Vlanif969
 description LTE - OAM
 ip binding vpn-instance MOBICOM-LTE
 ip address 10.1.232.46 255.255.255.248
#
interface Vlanif985
 description 5G
 ip binding vpn-instance MOBICOM-LTE
 ip address 10.5.232.46 255.255.255.248
#
interface Vlanif996
 description USMS
 ip binding vpn-instance MOBICOM-USMS
 ip address 10.63.117.222 255.255.255.224
#
interface Eth-Trunk1
 mtu 9216
 description to TUV_MTC_8EA (gei-0/0/1/2)
 ip address 10.151.13.26 255.255.255.252
 trust upstream default
 isis enable 1
 isis circuit-type p2p
 isis circuit-level level-1
 isis cost 1000
 mpls
 mpls ldp
#
interface Eth-Trunk2
 mtu 9216
 description to TUV_Zuunmod_016angi_Soyoliintuv (______)
 ip address 10.151.13.29 255.255.255.252
 trust upstream default
 isis enable 1
 isis circuit-type p2p
 isis circuit-level level-1
 isis cost 1000
 mpls
 mpls ldp
#
interface Ethernet0/0/0
 undo shutdown
 ip binding vpn-instance __LOCAL_OAM_VPN__
 ip address 192.168.0.1 255.255.255.0
#
interface Serial0/3/0:0
 link-protocol tdm
 mpls l2vc 10.8.90.13 56 control-word
 undo dcn
#
interface Serial0/3/1:0
 link-protocol tdm
 mpls l2vc 10.8.90.13 54 control-word
#
interface Serial0/3/3:0
 link-protocol tdm
 mpls l2vc 10.8.90.13 61 control-word
#
interface Serial0/3/4:0
 link-protocol tdm
 mpls l2vc 10.8.90.13 66 control-word
#
interface Serial0/3/7:0
 link-protocol tdm
 mpls l2vc 10.8.90.13 86 control-word
#
interface GigabitEthernet0/2/0
 portswitch
 description to LTE_TUV_Zuunmod_Mobi
 undo shutdown
 port link-type trunk
 port trunk allow-pass vlan 968 to 969 985
 undo dcn
#
interface GigabitEthernet0/2/1
 port-mode 1GE
 description MN: Switch
 undo shutdown
 mpls l2vc 10.8.90.13 59 control-word
 undo dcn
#
interface GigabitEthernet0/2/2
 portswitch
 description to USMS_TUV_Zuunmod_Mobi
 undo shutdown
 port link-type access
 port default vlan 996
 undo dcn
#
interface GigabitEthernet0/2/3
 portswitch
 description to LTE_Buhugiin gol (MW Ge-1)
 undo shutdown
 port link-type trunk
 port trunk allow-pass vlan 968 to 969
 undo dcn
#
interface GigabitEthernet0/2/4
 undo shutdown
 dcn
#
interface GigabitEthernet0/2/5
 undo shutdown
 dcn
#
interface GigabitEthernet0/2/6
 undo shutdown
 dcn
#
interface GigabitEthernet0/2/7
 undo shutdown
 dcn
#
interface GigabitEthernet0/2/8
 undo shutdown
 dcn
#
interface GigabitEthernet0/2/9
 undo shutdown
 dcn
#
interface GigabitEthernet0/2/10
 undo shutdown
 dcn
#
interface GigabitEthernet0/2/11
 undo shutdown
 dcn
#
interface GigabitEthernet0/2/12
 undo shutdown
 dcn
#
interface GigabitEthernet0/2/13
 undo shutdown
 dcn
#
interface GigabitEthernet0/2/14
 port-mode 10GE
 description to TUV_Zuunmod_016angi_Soyoliintuv HW-MPLS-PEER
 undo shutdown
 eth-trunk 2
 undo dcn
#
interface GigabitEthernet0/2/15
 port-mode 10GE
 description to TUV_MTC_8EA (gei-0/0/1/2) HW-MPLS-PEER
 undo shutdown
 eth-trunk 1
 undo dcn
#
interface GigabitEthernet0/2/16
 undo shutdown
 dcn
#
interface GigabitEthernet0/2/17
 undo shutdown
 dcn
#
interface GigabitEthernet0/2/18
 undo shutdown
 dcn
#
interface GigabitEthernet0/2/19
 undo shutdown
 dcn
#
interface GigabitEthernet0/2/20
 undo shutdown
 dcn
#
interface GigabitEthernet0/2/21
 undo shutdown
 dcn
#
interface GigabitEthernet0/2/22
 undo shutdown
 dcn
#
interface GigabitEthernet0/2/23
 undo shutdown
 dcn
#
interface GigabitEthernet0/2/24
 portswitch
 description to LTE_TUV_Zuunmod_Mobi
 undo shutdown
 port link-type trunk
 port trunk allow-pass vlan 57 968 to 969
 undo dcn
#
interface GigabitEthernet0/2/25
 portswitch
 description to LTE_Buhugiin gol (MW Ge-1)
 undo shutdown
 port link-type trunk
 port trunk allow-pass vlan 57 968 to 969 996
 undo dcn
#
interface GigabitEthernet0/2/26
 description MN: HBB
 undo shutdown
 dcn
#
interface GigabitEthernet0/2/26.363
 vlan-type dot1q 363
 mpls l2vc 10.8.90.13 186 control-word
#
interface GigabitEthernet0/2/27
 description MW monitoring
 undo shutdown
 mpls l2vc 10.8.90.13 62 control-word
 undo dcn
#
interface LoopBack0
 ip address 10.150.13.6 255.255.255.255
 isis enable 1
#
interface LoopBack1023
 description DCN loopback interface
 ip binding vpn-instance __dcn_vpn__
 ip address 128.121.234.109 255.255.0.0
#
interface NULL0
#
bgp 65530
 router-id 10.150.13.6
 private-4-byte-as enable
 peer 10.8.90.13 as-number 65530
 peer 10.8.90.13 connect-interface LoopBack0
 #
 ipv4-family unicast
  undo synchronization
  peer 10.8.90.13 enable
 #
 ipv4-family labeled-unicast
  network 10.150.13.6 255.255.255.255
  peer 10.8.90.13 enable
 #
 ipv4-family vpnv4
  undo policy vpn-target
  peer 10.8.90.13 enable
 #
 ipv4-family vpn-instance MOBICOM-3G
  import-route direct
 #
 ipv4-family vpn-instance MOBICOM-LTE
  import-route direct
 #
 ipv4-family vpn-instance MOBICOM-USMS
  import-route direct
 #
 ipv4-family vpn-instance TRX-MONITORING
  import-route direct
#
ospf 65534 vpn-instance __dcn_vpn__
 description DCN ospf create by default
 opaque-capability enable
 hostname
 vpn-instance-capability simple
 area 0.0.0.0
  network 0.0.0.0 255.255.255.255
#
!The DCN function implements the capability of plug-and-play for this device.
!A NE IP address based on the unique NE ID is automatically generated in VPN
!of DCN. It is recommended that the NE IP address be changed to the planned
!one by running the ne-ip X.X.X.X <MASK> command after the device being online.
dcn
#
snmp-agent
snmp-agent acl 2001
snmp-agent local-engineid 800007DB034CD6291F0B11
snmp-agent community read cipher %^%#+>j|HF]]9Cq!EML8"wt#Vi0zY]esGLMHc](*[t@-c%h89)U_'QDc*,(*)`yA@*9%VStdf;p7>^BCTM(D%^%# alias __CommunityAliasName_01_8785
#
snmp-agent sys-info location 16-T-41-00013
snmp-agent sys-info version v2c
undo snmp-agent sys-info version v3
#
snmp-agent protocol source-status all-interface
undo snmp-agent protocol source-status ipv6 all-interface
#
undo snmp-agent proxy protocol source-status all-interface
undo snmp-agent proxy protocol source-status ipv6 all-interface
#
lldp enable
#
stelnet server enable
ssh server rsa-key min-length 3072
ssh user root
ssh user root authentication-type password
ssh user root service-type stelnet
ssh server-source -i Ethernet0/0/0
ssh server-source -i LoopBack1023
ssh server-source all-interface
ssh ipv6 server-source all-interface
ssh authorization-type default aaa
#
ssh server cipher aes256_gcm aes128_gcm aes256_ctr aes192_ctr aes128_ctr
ssh server hmac sha2_512 sha2_256
ssh server key-exchange dh_group_exchange_sha256 dh_group_exchange_sha1 dh_group14_sha1 ecdh_sha2_nistp256 ecdh_sha2_nistp384 ecdh_sha2_nistp521
#
ssh server publickey ecc rsa rsa_sha2_256 rsa_sha2_512
#
ssh server dh-exchange min-len 3072
#
ssh client publickey ecc rsa rsa_sha2_256 rsa_sha2_512
#
ssh client cipher aes256_gcm aes128_gcm aes256_ctr aes192_ctr aes128_ctr
ssh client hmac sha2_512 sha2_256
ssh client key-exchange dh_group_exchange_sha256 dh_group_exchange_sha1 dh_group14_sha1 ecdh_sha2_nistp256 ecdh_sha2_nistp384 ecdh_sha2_nistp521
#
user-interface maximum-vty 21
#
user-interface con 0
#
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound ssh
#
netconf
 activate module huawei-ip
#
local-aaa-server
#
pki domain default
#
return