!<mim>
!configuration saved in zdb mode at 01:22:40 on Thu Jun 18 2026 by orionncm
!configuration saved in txt mode at 01:22:45 on Thu Jun 18 2026 by orionncm
!last configuration change at 00:32:45 on Sat Jun 13 2026 by temuulen
commit-mode default automatic
!</mim>
!<offbrd>
insert-card shelf 1 slot 3 funcid 722 port-max 0 version 100/100
insert-card shelf 1 slot 1 funcid 721 port-max 44 version 100/100
insert-card shelf 1 slot 4 funcid 722 port-max 0 version 100/100
insert-card shelf 1 slot 2 funcid 5147 port-max 0 version 100/100
insert-port shelf 1 slot 1 port 21 type ce1
insert-port shelf 1 slot 1 port 22 type ce1
insert-port shelf 1 slot 1 port 23 type ce1
insert-port shelf 1 slot 1 port 24 type ce1
insert-port shelf 1 slot 1 port 25 type ce1
insert-port shelf 1 slot 1 port 26 type ce1
insert-port shelf 1 slot 1 port 27 type ce1
insert-port shelf 1 slot 1 port 28 type ce1
insert-port shelf 1 slot 1 port 29 type ce1
insert-port shelf 1 slot 1 port 30 type ce1
insert-port shelf 1 slot 1 port 31 type ce1
insert-port shelf 1 slot 1 port 32 type ce1
insert-port shelf 1 slot 1 port 33 type ce1
insert-port shelf 1 slot 1 port 34 type ce1
insert-port shelf 1 slot 1 port 35 type ce1
insert-port shelf 1 slot 1 port 36 type ce1
insert-port shelf 1 slot 1 port 1 type xgei
insert-port shelf 1 slot 1 port 2 type xgei
insert-port shelf 1 slot 1 port 3 type xgei
insert-port shelf 1 slot 1 port 4 type xgei
insert-port shelf 1 slot 1 port 5 type xgei
insert-port shelf 1 slot 1 port 6 type xgei
insert-port shelf 1 slot 1 port 7 type xgei
insert-port shelf 1 slot 1 port 8 type xgei
insert-port shelf 1 slot 1 port 9 type xgei
insert-port shelf 1 slot 1 port 10 type xgei
insert-port shelf 1 slot 1 port 11 type xgei
insert-port shelf 1 slot 1 port 12 type xgei
insert-port shelf 1 slot 1 port 13 type xgei
insert-port shelf 1 slot 1 port 14 type xgei
insert-port shelf 1 slot 1 port 15 type xgei
insert-port shelf 1 slot 1 port 16 type xgei
insert-port shelf 1 slot 1 port 17 type xgei
insert-port shelf 1 slot 1 port 18 type xgei
insert-port shelf 1 slot 1 port 19 type gei
insert-port shelf 1 slot 1 port 20 type gei
insert-port shelf 1 slot 1 port 37 type gei
insert-port shelf 1 slot 1 port 38 type gei
insert-port shelf 1 slot 1 port 39 type gei
insert-port shelf 1 slot 1 port 40 type gei
insert-port shelf 1 slot 1 port 41 type extimer
insert-port shelf 1 slot 1 port 42 type gps
insert-port shelf 1 slot 1 port 43 type gps
insert-port shelf 1 slot 1 port 44 type mgmt_eth
!</offbrd>
!<controller>
controller ce1-1/1/0/21
  unframe
$
controller ce1-1/1/0/22
  unframe
$
controller ce1-1/1/0/23
  unframe
$
controller ce1-1/1/0/24
  unframe
$
controller ce1-1/1/0/25
  unframe
$
controller ce1-1/1/0/26
  unframe
$
controller ce1-1/1/0/27
  unframe
$
controller ce1-1/1/0/28
  unframe
$
controller ce1-1/1/0/29
  unframe
$
controller ce1-1/1/0/30
  unframe
$
controller ce1-1/1/0/31
  unframe
$
controller ce1-1/1/0/32
  unframe
$
controller ce1-1/1/0/33
  unframe
$
controller ce1-1/1/0/34
  unframe
$
controller ce1-1/1/0/35
  unframe
$
controller ce1-1/1/0/36
  unframe
$
!</controller>
!<system-config>
hostname DOG_Airag_MW409
location 16-T-44-00007
!</system-config>
!<vrf>
ip vrf MOBICOM-3G
  rd 65530:300
  mpls label mode per-vrf
  address-family ipv4
    route-target export 65530:3333
    route-target import 65530:3000
  $
$
ip vrf MOBICOM-LTE
  rd 65530:400
  mpls label mode per-vrf
  address-family ipv4
    route-target import 65530:400
    route-target export 65530:400
  $
$
ip vrf MOBICOM-USMS
  rd 65530:600
  mpls label mode per-vrf
  address-family ipv4
    route-target export 65530:6666
    route-target import 65530:6000
  $
$
ip vrf TRX-MONITORING
  rd 65530:500
  mpls label mode per-vrf
  address-family ipv4
    route-target import 65530:5555
    route-target export 65530:5000
  $
$
!</vrf>
!<if-intf>
interface gei-1/1/0/19
  description ZTE_MW_Monitoring
$
interface gei-1/1/0/20
  description MNBC
$
interface gei-1/1/0/37
  description Airag_3G
$
interface gei-1/1/0/38
  description LTE-DOG_Airag
$
interface gei-1/1/0/39
  description USMS_L3
$
interface gei-1/1/0/40
  description Bor-Undur HBB<>ZTE MW GE3-1
$
interface gei-1/1/0/40.36
$
interface gei-1/1/0/40.1248
$
interface xgei-1/1/0/1
  description GeneralTech
$
interface xgei-1/1/0/2
  description MTC
$
interface xgei-1/1/0/3
  description LTE-BorUndurUurkhai, BorUndurNTC
$
interface xgei-1/1/0/4
  description To-GOS_SumberMW406 ZTE-MPLS-PEER
$
interface xgei-1/1/0/5
  description 3G-BorUndurMW,Uurkhai,MTC
$
interface xgei-1/1/0/6
  shutdown
$
interface xgei-1/1/0/7
  description MW_ZTE_BorUndur_HBB
$
interface xgei-1/1/0/7.97
  description Bor-Undor HBB<>ZTE MW GE3-1
$
interface xgei-1/1/0/7.703
  description ISP_Siilen
$
interface xgei-1/1/0/8
  description UlkhiinOvoo
  mpls mtu 9586
$
interface xgei-1/1/0/9
  description Netcom
$
interface xgei-1/1/0/9.170
$
interface xgei-1/1/0/9.172
$
interface xgei-1/1/0/9.175
$
interface xgei-1/1/0/10
  shutdown
$
interface xgei-1/1/0/11
  shutdown
$
interface xgei-1/1/0/12
$
interface xgei-1/1/0/13
  shutdown
$
interface xgei-1/1/0/14
  description To_DOG_Altanshiree_AvgiinGol
$
interface xgei-1/1/0/15
  shutdown
$
interface xgei-1/1/0/16
  description To_HEN_Darkhan_Bor_Undur
  mtu 9700
  ip mtu 9586
  mpls mtu 9586
$
interface xgei-1/1/0/16.4094
$
interface xgei-1/1/0/17
  shutdown
$
interface xgei-1/1/0/18
  description to DOG_Dalanjargalan_RW
$
interface ce1-1/1/0/21:1
  description DOG_Airag_2GBTS
$
interface ce1-1/1/0/22:1
  description HEN_BorUndur2G
$
interface ce1-1/1/0/23:1
  description InternetBorUndur
$
interface ce1-1/1/0/24:1
$
interface ce1-1/1/0/25:1
  description MobinetBorUndur
$
interface ce1-1/1/0/26:1
$
interface ce1-1/1/0/27:1
$
interface ce1-1/1/0/28:1
$
interface ce1-1/1/0/29:1
  description BorUndurUurkhai2G
$
interface ce1-1/1/0/30:1
  description BorUndurUurkhai2G 2
$
interface ce1-1/1/0/31:1
  description BorUndur_IPN_ext1
$
interface ce1-1/1/0/32:1
$
interface ce1-1/1/0/33:1
$
interface ce1-1/1/0/34:1
  description BorUndur_IPN_ext3
$
interface ce1-1/1/0/35:1
  description USMS MW408
$
interface ce1-1/1/0/36:1
  description USMS_BorUndurUurkhai
$
interface mgmt_eth
  ip address 192.192.192.11 255.255.255.0
$
interface loopback1
  ip address 10.150.52.2 255.255.255.255
$
interface vlan915
  description Alcatel_3G
  ip vrf forwarding MOBICOM-3G
  ip address 10.11.154.14 255.255.255.248
$
interface vlan968
  description LTE_S1
  ip vrf forwarding MOBICOM-LTE
  ip address 10.4.154.14 255.255.255.248
$
interface vlan969
  description LTE
  ip vrf forwarding MOBICOM-LTE
  ip address 10.1.154.14 255.255.255.248
$
interface vlan985
  description 5G
  ip vrf forwarding MOBICOM-LTE
  ip address 10.5.154.14 255.255.255.248
$
interface vlan996
  description USMS
  ip vrf forwarding MOBICOM-USMS
  ip address 10.64.54.30 255.255.255.240
  ip address 10.64.154.30 255.255.255.240 secondary
$
interface null1
$
interface smartgroup1
  description To-UlkhiinOvoo ZTE-MPLS-PEER
  ip address 10.152.52.6 255.255.255.252
$
interface smartgroup2
  description To-GOS_Sumber_MW406 ZTE-MPLS-PEER
  ip address 10.151.54.18 255.255.255.252
$
interface smartgroup3
  description To-DOG_DalanjargalanRailway ZTE-MPLS-PEER
  ip address 10.152.52.9 255.255.255.252
$
interface qx1
$
interface dcn_pos1
$
interface dcn_pos2
$
interface dcn_pos3
$
interface dcn_pos4
$
interface dcn_pos5
$
interface dcn_pos6
$
interface dcn_pos7
$
interface dcn_pos8
$
interface dcn_pos9
$
interface dcn_pos10
$
interface dcn_pos11
$
interface dcn_pos12
$
interface dcn_pos13
$
interface dcn_pos14
$
interface dcn_pos15
$
interface dcn_mcc65
$
interface dcn_mcc66
$
interface dloopback1023
$
pw pw1
pw pw3
pw pw4
pw pw5
pw pw6
pw pw7
pw pw8
pw pw9
pw pw10
pw pw11
pw pw12
pw pw13
pw pw14
pw pw15
pw pw16
pw pw17
pw pw18
pw pw19
pw pw20
pw pw21
!</if-intf>
!<port-physical-config>
interface gei-1/1/0/19
  negotiation negotiation-force
  pemode media-copper
$
interface xgei-1/1/0/1
  speed speed-1G
$
interface xgei-1/1/0/2
  speed speed-1G
$
interface xgei-1/1/0/3
  speed speed-1G
$
interface xgei-1/1/0/4
  speed speed-10G
$
interface xgei-1/1/0/5
  speed speed-1G
$
interface xgei-1/1/0/18
  speed speed-10G
$
!</port-physical-config>
!<clock-mgr>
clock timezone Asia/Ulaanbaatar 8
!</clock-mgr>
!<switchvlan>
switchvlan-configuration
  interface gei-1/1/0/37
    switchport access vlan 915
  $
  interface gei-1/1/0/38
    switchport mode trunk
    switchport trunk vlan 968-969,985
  $
  interface gei-1/1/0/39
    switchport access vlan 996
  $
  interface xgei-1/1/0/3
    switchport mode trunk
    switchport trunk vlan 57,968-969,985,996
  $
  interface xgei-1/1/0/5
    switchport access vlan 915
  $
  vlan 1
    name vlan0001
  $
  vlan 57
  $
  vlan 915
  $
  list 968-969
  vlan 985
  $
  vlan 996
  $
$
!</switchvlan>
!<lacp>
lacp
  interface xgei-1/1/0/4
    smartgroup 2 mode on
  $
  interface xgei-1/1/0/8
    smartgroup 1 mode on
  $
  interface xgei-1/1/0/18
    smartgroup 3 mode on
  $
$
!</lacp>
!<vlan>
vlan-configuration
  interface gei-1/1/0/40.36
    encapsulation-dot1q 36
  $
  interface gei-1/1/0/40.1248
    encapsulation-dot1q 1248
  $
  interface xgei-1/1/0/7.97
    encapsulation-dot1q 97
  $
  interface xgei-1/1/0/7.703
    encapsulation-dot1q 703
  $
  interface xgei-1/1/0/9.170
    encapsulation-dot1q 170
  $
  interface xgei-1/1/0/9.172
    encapsulation-dot1q 172
  $
  interface xgei-1/1/0/9.175
    encapsulation-dot1q 175
  $
$
!</vlan>
!<label-mgr>
mpls label range global 16 1048575 static 16 205823 ldp 205824 209919 pwe3 20992
0 218111 rsvp 218112 226303 bgp 226304 622591 bgpv6 622592 720895 ac-label 10000
00 1048575 srgb-label 900000 965535 srlb-label 965536 981919
!</label-mgr>
!<route-map>
route-map SET-LABEL permit 10
  set mpls-label
$
!</route-map>
!<system-user>
system-user
  account-switch on accounting-template 2002
  authorization-template 1
    bind aaa-authorization-template 2002
    local-privilege-level 7
    login-sametime-max 60
  $
  authorization-template 2
    bind aaa-authorization-template 2001
    local-privilege-level 15
  $
  authorization-template 7
    bind aaa-authorization-template 2001
    local-privilege-level 7
  $
  authentication-template 1
    bind aaa-authentication-template 2002
  $
  authentication-template 2
    bind aaa-authentication-template 2001
  $
  login ascii authentication-template 1 authortication-template 1
  user-default
    bind authentication-template 1
    bind authorization-template 1
    enable-type aaa authentication-template 1
  $
  user-name who
    bind authentication-template 1
    bind authorization-template 1
    password irreversible encrypted $5$534o5dCT57r5iLP5$WsLfZAVrJZzUc2qe8Jw6vRrA
x5KjyqLi.gxA7AHHjLD
  $
$
!</system-user>
!<ptp>
ptp
  free-mode
  $
$
!</ptp>
!<ssmclock>
ssm
  usessm
  ssm-mode exp-ssm
  lock-bits-send-dnu enable
  pll-abnormal-associate off
  synchronization-clock line xgei-1/1/0/8
  synchronization-clock line xgei-1/1/0/12
  synchronization-clock inner
  priority line xgei-1/1/0/8 1
  priority line xgei-1/1/0/12 2
  priority inner 3
  port-receive-mode manual-ssm inner
$
!</ssmclock>
!<tacplus>
tacacs enable
tacacs-client source-interface loopback1
tacacs-server key encrypted *21*Cd9FBNz0tjJfcP3wxVPLRcVTy0XFU8tFxVPLRYBphEMm/4bk
LlE4oHuodlY=
tacacs-server host 192.168.242.17
tacplus group-server IPN
  server 192.168.242.17
$
!</tacplus>
!<aaa>
aaa-accounting-template 2001
  aaa-accounting-type none
$
aaa-accounting-template 2002
  aaa-accounting-type tacacs
  accounting-tacacs-group IPN
$
aaa-authentication-template 1
  aaa-authentication-type local
$
aaa-authentication-template 2001
  aaa-authentication-type local
$
aaa-authentication-template 2002
  aaa-authentication-type tacacs-local
  authentication-tacacs-group IPN
$
aaa-authorization-template 1
  aaa-authorization-type local
$
aaa-authorization-template 2001
  aaa-authorization-type local
$
aaa-authorization-template 2002
  aaa-authorization-type tacacs-local
  authorization-tacacs-group IPN
$
!</aaa>
!<lldp>
lldp
  maxneighbor 128
$
!</lldp>
!<ldp>
mpls ldp instance 1
  access-fec ip-prefix host-route-only
  interface smartgroup1
  $
  interface smartgroup2
  $
  interface smartgroup3
  $
  router-id loopback1
  target-session 10.8.90.1
  target-session 10.8.90.2
  target-session 10.8.90.14
  target-session 10.8.90.102
  target-session 10.150.21.1
  target-session 10.150.54.1
$
!</ldp>
!<oam>
privilege show all level 7 show
!</oam>
!<alarm>
logging file default almlog
  accept on
$
logging file default cmdlog
  buffer 1000
$
logging file default netclog
  accept on
$
logging file default snmplog
  accept on
$
logging file default srvlog
  accept on
  interval 10
$
logging file default weblog
  accept on
$
logging snmp
  accept on
  match cmdlog
$
syslog-server host 192.168.242.11 alarmlog cmdlog debugmsg servicelog braslog na
tlog netconflog snmplog weblog traplog
!</alarm>
!<snmp>
snmp-server community encrypted *21*Cd9FBNz0tjJfcP3wTIMXCUyDFwlMgxcJTIMXCc15pEQD
ZEJJSAl0lLpux+frdEZPM0dUpn+zMHr2DcEP55HnTEKvHkHqMJJjpQBZjw== view AllView ro 
snmp-server trap-source interface loopback1
snmp-server version v2c enable
!</snmp>
!<l2vpn>
mpls l2vpn enable
vpws 1
$
vpws 11
  access-point ce1-1/1/0/36:1
    access-params tdm
      idle-code 255
    $
  $
  pseudo-wire pw11
    neighbour 10.8.90.1 vcid 1545 cw-preferred
      encapsulation tdm satop e1
    $
  $
$
vpws 12
  access-point ce1-1/1/0/35:1
    access-params tdm
      idle-code 255
    $
  $
  pseudo-wire pw12
    neighbour 10.8.90.1 vcid 1528 cw-preferred
      encapsulation tdm satop e1
    $
  $
$
vpws 13
  access-point ce1-1/1/0/34:1
    access-params tdm
      idle-code 255
    $
  $
  pseudo-wire pw13
    neighbour 10.8.90.1 vcid 1559 cw-preferred
      encapsulation tdm satop e1
    $
  $
$
vpws 14
  access-point ce1-1/1/0/31:1
    access-params tdm
      idle-code 255
    $
  $
  pseudo-wire pw14
    neighbour 10.8.90.1 vcid 1547 cw-preferred
      encapsulation tdm satop e1
    $
  $
$
vpws 15
  access-point ce1-1/1/0/30:1
    access-params tdm
      idle-code 255
    $
  $
  pseudo-wire pw15
    neighbour 10.8.90.2 vcid 1307 cw-preferred
      encapsulation tdm satop e1
    $
  $
$
vpws 16
  access-point ce1-1/1/0/29:1
    access-params tdm
      idle-code 255
    $
  $
  pseudo-wire pw16
    neighbour 10.8.90.2 vcid 1295 cw-preferred
      encapsulation tdm satop e1
    $
  $
$
vpws 17
  access-point ce1-1/1/0/25:1
    access-params tdm
      idle-code 255
    $
  $
  pseudo-wire pw17
    neighbour 10.8.90.1 vcid 1539 cw-preferred
      encapsulation tdm satop e1
    $
  $
$
vpws 18
  access-point ce1-1/1/0/23:1
    access-params tdm
      idle-code 255
    $
  $
  pseudo-wire pw18
    neighbour 10.8.90.1 vcid 1544 cw-preferred
      encapsulation tdm satop e1
    $
  $
$
vpws 19
  access-point ce1-1/1/0/22:1
    access-params tdm
      idle-code 255
    $
  $
  pseudo-wire pw19
    neighbour 10.8.90.2 vcid 1297 cw-preferred
      encapsulation tdm satop e1
    $
  $
$
vpws 20
  access-point ce1-1/1/0/21:1
    access-params tdm
      idle-code 255
    $
  $
  pseudo-wire pw20
    neighbour 10.8.90.2 vcid 1299 cw-preferred
      encapsulation tdm satop e1
    $
  $
$
vpws 6
  access-point gei-1/1/0/19
    access-params ethernet
    $
  $
  pseudo-wire pw6
    neighbour 10.8.90.14 vcid 237 cw-preferred
      encapsulation raw
    $
  $
$
vpls 10
  access-point xgei-1/1/0/7.703
    access-params ethernet
    $
  $
  pseudo-wire pw10 split-horizon
    neighbour 10.150.54.1 vcid 6 cw-preferred
      encapsulation tagged
    $
  $
  mac
    move-dampening enable
    move-dampening-count
  $
  traffic-rate broadcast cir 100000 kbps cbs 200000 kb pir 200000 kbps pbs 30000
0 kb
  traffic-rate unknown-multicast cir 10000 kbps cbs 200000 kb pir 200000 kbps pb
s 300000 kb
  traffic-rate unknown-unicast cir 10000 kbps cbs 200000 kb pir 200000 kbps pbs 
300000 kb
$
vpls 3
  access-point xgei-1/1/0/2
    access-params ethernet
    $
  $
  pseudo-wire pw3 spoke
    neighbour 10.8.90.1 vcid 421 cw-preferred
    $
  $
  mac
    move-dampening enable
    move-dampening-count
  $
  traffic-rate broadcast cir 100000 kbps cbs 200000 kb pir 200000 kbps pbs 30000
0 kb
  traffic-rate unknown-multicast cir 10000 kbps cbs 200000 kb pir 200000 kbps pb
s 300000 kb
  traffic-rate unknown-unicast cir 10000 kbps cbs 200000 kb pir 200000 kbps pbs 
300000 kb
$
vpls 4
  access-point xgei-1/1/0/1
    access-params ethernet
    $
  $
  pseudo-wire pw4 split-horizon
    neighbour 10.8.90.2 vcid 467 cw-preferred
    $
  $
  mac
    move-dampening enable
    move-dampening-count
  $
  traffic-rate broadcast cir 100000 kbps cbs 200000 kb pir 200000 kbps pbs 30000
0 kb
  traffic-rate unknown-multicast cir 10000 kbps cbs 200000 kb pir 200000 kbps pb
s 300000 kb
  traffic-rate unknown-unicast cir 10000 kbps cbs 200000 kb pir 200000 kbps pbs 
300000 kb
$
vpls 5
  access-point gei-1/1/0/20
    access-params ethernet
    $
  $
  pseudo-wire pw5 spoke
    neighbour 10.8.90.1 vcid 379 cw-preferred
    $
  $
  mac
    move-dampening enable
    move-dampening-count
  $
  traffic-rate broadcast cir 100000 kbps cbs 200000 kb pir 200000 kbps pbs 30000
0 kb
  traffic-rate unknown-multicast cir 10000 kbps cbs 200000 kb pir 200000 kbps pb
s 300000 kb
  traffic-rate unknown-unicast cir 10000 kbps cbs 200000 kb pir 200000 kbps pbs 
300000 kb
$
vpls 7
  access-point xgei-1/1/0/9.175
    access-params ethernet
    $
  $
  pseudo-wire pw7 split-horizon
    neighbour 10.150.21.1 vcid 36 cw-preferred
    $
  $
  mac
    move-dampening enable
    move-dampening-count
  $
  traffic-rate broadcast cir 100000 kbps cbs 200000 kb pir 200000 kbps pbs 30000
0 kb
  traffic-rate unknown-multicast cir 10000 kbps cbs 200000 kb pir 200000 kbps pb
s 300000 kb
  traffic-rate unknown-unicast cir 10000 kbps cbs 200000 kb pir 200000 kbps pbs 
300000 kb
$
vpls 8
  access-point xgei-1/1/0/9.172
    access-params ethernet
    $
  $
  pseudo-wire pw8 split-horizon
    neighbour 10.150.21.1 vcid 313 cw-preferred
    $
  $
  mac
    move-dampening enable
    move-dampening-count
  $
  traffic-rate broadcast cir 100000 kbps cbs 200000 kb pir 200000 kbps pbs 30000
0 kb
  traffic-rate unknown-multicast cir 10000 kbps cbs 200000 kb pir 200000 kbps pb
s 300000 kb
  traffic-rate unknown-unicast cir 10000 kbps cbs 200000 kb pir 200000 kbps pbs 
300000 kb
$
vpls 9
  access-point xgei-1/1/0/9.170
    access-params ethernet
    $
  $
  pseudo-wire pw9 split-horizon
    neighbour 10.150.21.1 vcid 80 cw-preferred
    $
  $
  mac
    move-dampening enable
    move-dampening-count
  $
  traffic-rate broadcast cir 100000 kbps cbs 200000 kb pir 200000 kbps pbs 30000
0 kb
  traffic-rate unknown-multicast cir 10000 kbps cbs 200000 kb pir 200000 kbps pb
s 300000 kb
  traffic-rate unknown-unicast cir 10000 kbps cbs 200000 kb pir 200000 kbps pbs 
300000 kb
$
vpls VLAN1248 evpn
  rd 5401:1248
  auto-discovery mpls-evpn
    route-target export 5402:1249
    route-target import 5401:1248
  $
  access-point gei-1/1/0/40.1248
    access-params ethernet
    $
  $
  mac
    move-dampening enable
    move-dampening-count 6
  $
  traffic-rate broadcast cir 100000 kbps cbs 200000 kb pir 200000 kbps pbs 30000
0 kb
  traffic-rate unknown-multicast cir 10000 kbps cbs 200000 kb pir 200000 kbps pb
s 300000 kb
  traffic-rate unknown-unicast cir 10000 kbps cbs 200000 kb pir 200000 kbps pbs 
300000 kb
$
vpls VLAN36 evpn
  rd 5401:36
  auto-discovery mpls-evpn
    route-target export 5402:37
    route-target import 5401:36
  $
  access-point gei-1/1/0/40.36
    access-params ethernet
    $
  $
  mac
    move-dampening enable
    move-dampening-count 6
  $
  traffic-rate broadcast cir 100000 kbps cbs 200000 kb pir 200000 kbps pbs 30000
0 kb
  traffic-rate unknown-multicast cir 10000 kbps cbs 200000 kb pir 200000 kbps pb
s 300000 kb
  traffic-rate unknown-unicast cir 10000 kbps cbs 200000 kb pir 200000 kbps pbs 
300000 kb
$
vpls VLAN97 evpn
  rd 5401:97
  auto-discovery mpls-evpn
    route-target export 5402:98
    route-target import 5401:97
  $
  access-point xgei-1/1/0/7.97
    access-params ethernet
    $
  $
  mac
    move-dampening enable
    move-dampening-count 6
  $
  traffic-rate broadcast cir 100000 kbps cbs 200000 kb pir 200000 kbps pbs 30000
0 kb
  traffic-rate unknown-multicast cir 10000 kbps cbs 200000 kb pir 200000 kbps pb
s 300000 kb
  traffic-rate unknown-unicast cir 10000 kbps cbs 200000 kb pir 200000 kbps pbs 
300000 kb
$
vlss 100
  access-point xgei-1/1/0/14
    access-params ethernet
    $
  $
  access-point xgei-1/1/0/16
    access-params ethernet
    $
  $
$
!</l2vpn>
!<bgp>
router bgp 65530
  synchronization disable
  bgp router-id 10.150.52.2
  bgp frr
  bgp frr wtr 5
  bgp graceful-restart
  network 10.150.52.2 255.255.255.255 route-map SET-LABEL
  neighbor 10.8.90.14 remote-as 65530
  neighbor 10.8.90.14 activate
  neighbor 10.8.90.14 update-source loopback1
  neighbor 10.8.90.102 remote-as 65530
  neighbor 10.8.90.102 activate
  neighbor 10.8.90.102 send-label
  neighbor 10.8.90.102 update-source loopback1
  neighbor 10.150.54.1 remote-as 65530
  neighbor 10.150.54.1 activate
  neighbor 10.150.54.1 update-source loopback1
  address-family l2vpn evpn
    neighbor 10.150.54.1 activate
  $
  address-family vpnv4
    neighbor 10.8.90.14 activate
    neighbor 10.8.90.102 activate
  $
  address-family ipv4 vrf MOBICOM-3G
    bgp frr
    bgp frr wtr 5
    redistribute connected
  $
  address-family ipv4 vrf MOBICOM-LTE
    bgp frr
    bgp frr wtr 5
    redistribute connected
  $
  address-family ipv4 vrf MOBICOM-USMS
    bgp frr
    bgp frr wtr 5
    redistribute connected
  $
  address-family ipv4 vrf TRX-MONITORING
    bgp frr
    bgp frr wtr 5
    redistribute connected
  $
$
!</bgp>
!<isis>
router isis 100
  area 49.0001
  system-id 0101.5005.2002
  is-type level-1
  metric-style wide
  fast-flood 6
  fast-reroute lfa enable
  fast-reroute remote-lfa mpls-ldp
  i-spf
  mpls ldp sync
  interface loopback1
    circuit-type level-1
    ip router isis
  $
  interface smartgroup1
    bfd-enable
    bfd-time-negotiation min-tx 30 min-rx 30 multiplier 3
    circuit-type level-1
    ip router isis
    metric 1000
    network point-to-point
  $
  interface smartgroup2
    bfd-enable
    bfd-time-negotiation min-tx 30 min-rx 30 multiplier 3
    circuit-type level-1
    ip router isis
    metric 1000
    network point-to-point
  $
  interface smartgroup3
    bfd-enable
    bfd-time-negotiation min-tx 30 min-rx 30 multiplier 3
    circuit-type level-1
    ip router isis
    metric 1000
    network point-to-point
  $
$
!</isis>
!<telemetry>
telemetry
  destination-group aa
  $
  destination-group test
  $
$
!</telemetry>
!<qos>
cfg-ds-field default
  cfg-ds-egress 802.1p<->phb PHB BE 0
  cfg-ds-egress 802.1p<->phb PHB AF11 1
  cfg-ds-egress 802.1p<->phb PHB AF12 1
  cfg-ds-egress 802.1p<->phb PHB AF21 2
  cfg-ds-egress 802.1p<->phb PHB AF22 2
  cfg-ds-egress 802.1p<->phb PHB AF31 3
  cfg-ds-egress 802.1p<->phb PHB AF32 3
  cfg-ds-egress 802.1p<->phb PHB AF41 4
  cfg-ds-egress 802.1p<->phb PHB AF42 4
  cfg-ds-egress 802.1p<->phb PHB CS6 6
  cfg-ds-egress 802.1p<->phb PHB CS7 7
  cfg-ds-egress 802.1p<->phb PHB EF 5
  cfg-ds-egress exp<->phb PHB BE 0
  cfg-ds-egress exp<->phb PHB AF11 1
  cfg-ds-egress exp<->phb PHB AF12 1
  cfg-ds-egress exp<->phb PHB AF21 2
  cfg-ds-egress exp<->phb PHB AF22 2
  cfg-ds-egress exp<->phb PHB AF31 3
  cfg-ds-egress exp<->phb PHB AF32 3
  cfg-ds-egress exp<->phb PHB AF41 4
  cfg-ds-egress exp<->phb PHB AF42 4
  cfg-ds-egress exp<->phb PHB CS6 6
  cfg-ds-egress exp<->phb PHB CS7 7
  cfg-ds-egress exp<->phb PHB EF 5
  cfg-ds-egress dscp<->phb PHB BE 0
  cfg-ds-egress dscp<->phb PHB AF11 10
  cfg-ds-egress dscp<->phb PHB AF12 12
  cfg-ds-egress dscp<->phb PHB AF21 18
  cfg-ds-egress dscp<->phb PHB AF22 20
  cfg-ds-egress dscp<->phb PHB AF31 26
  cfg-ds-egress dscp<->phb PHB AF32 28
  cfg-ds-egress dscp<->phb PHB AF41 34
  cfg-ds-egress dscp<->phb PHB AF42 36
  cfg-ds-egress dscp<->phb PHB CS6 48
  cfg-ds-egress dscp<->phb PHB CS7 56
  cfg-ds-egress dscp<->phb PHB EF 46
  cfg-ds-ingress 802.1p<->phb PHB BE 0
  cfg-ds-ingress 802.1p<->phb PHB AF11 1
  cfg-ds-ingress 802.1p<->phb PHB AF21 2
  cfg-ds-ingress 802.1p<->phb PHB AF31 3
  cfg-ds-ingress 802.1p<->phb PHB AF41 4
  cfg-ds-ingress 802.1p<->phb PHB EF 5
  cfg-ds-ingress 802.1p<->phb PHB CS6 6
  cfg-ds-ingress 802.1p<->phb PHB CS7 7
  cfg-ds-ingress exp<->phb PHB BE 0
  cfg-ds-ingress exp<->phb PHB AF11 1
  cfg-ds-ingress exp<->phb PHB AF21 2
  cfg-ds-ingress exp<->phb PHB AF31 3
  cfg-ds-ingress exp<->phb PHB AF41 4
  cfg-ds-ingress exp<->phb PHB EF 5
  cfg-ds-ingress exp<->phb PHB CS6 6
  cfg-ds-ingress exp<->phb PHB CS7 7
  cfg-ds-ingress dscp<->phb PHB BE 0
  cfg-ds-ingress dscp<->phb PHB BE 1
  cfg-ds-ingress dscp<->phb PHB BE 2
  cfg-ds-ingress dscp<->phb PHB BE 3
  cfg-ds-ingress dscp<->phb PHB BE 4
  cfg-ds-ingress dscp<->phb PHB BE 5
  cfg-ds-ingress dscp<->phb PHB BE 6
  cfg-ds-ingress dscp<->phb PHB BE 7
  cfg-ds-ingress dscp<->phb PHB AF11 8
  cfg-ds-ingress dscp<->phb PHB BE 9
  cfg-ds-ingress dscp<->phb PHB AF11 10
  cfg-ds-ingress dscp<->phb PHB BE 11
  cfg-ds-ingress dscp<->phb PHB AF12 12
  cfg-ds-ingress dscp<->phb PHB BE 13
  cfg-ds-ingress dscp<->phb PHB AF11 14
  cfg-ds-ingress dscp<->phb PHB BE 15
  cfg-ds-ingress dscp<->phb PHB AF21 16
  cfg-ds-ingress dscp<->phb PHB BE 17
  cfg-ds-ingress dscp<->phb PHB AF21 18
  cfg-ds-ingress dscp<->phb PHB BE 19
  cfg-ds-ingress dscp<->phb PHB AF22 20
  cfg-ds-ingress dscp<->phb PHB BE 21
  cfg-ds-ingress dscp<->phb PHB AF21 22
  cfg-ds-ingress dscp<->phb PHB BE 23
  cfg-ds-ingress dscp<->phb PHB AF31 24
  cfg-ds-ingress dscp<->phb PHB BE 25
  cfg-ds-ingress dscp<->phb PHB AF31 26
  cfg-ds-ingress dscp<->phb PHB BE 27
  cfg-ds-ingress dscp<->phb PHB AF32 28
  cfg-ds-ingress dscp<->phb PHB BE 29
  cfg-ds-ingress dscp<->phb PHB AF31 30
  cfg-ds-ingress dscp<->phb PHB BE 31
  cfg-ds-ingress dscp<->phb PHB AF41 32
  cfg-ds-ingress dscp<->phb PHB BE 33
  cfg-ds-ingress dscp<->phb PHB AF41 34
  cfg-ds-ingress dscp<->phb PHB BE 35
  cfg-ds-ingress dscp<->phb PHB AF42 36
  cfg-ds-ingress dscp<->phb PHB BE 37
  cfg-ds-ingress dscp<->phb PHB AF41 38
  cfg-ds-ingress dscp<->phb PHB BE 39
  cfg-ds-ingress dscp<->phb PHB EF 40
  cfg-ds-ingress dscp<->phb PHB BE 41
  cfg-ds-ingress dscp<->phb PHB BE 42
  cfg-ds-ingress dscp<->phb PHB BE 43
  cfg-ds-ingress dscp<->phb PHB BE 44
  cfg-ds-ingress dscp<->phb PHB BE 45
  cfg-ds-ingress dscp<->phb PHB EF 46
  cfg-ds-ingress dscp<->phb PHB BE 47
  cfg-ds-ingress dscp<->phb PHB CS6 48
  cfg-ds-ingress dscp<->phb PHB BE 49
  cfg-ds-ingress dscp<->phb PHB BE 50
  cfg-ds-ingress dscp<->phb PHB BE 51
  cfg-ds-ingress dscp<->phb PHB BE 52
  cfg-ds-ingress dscp<->phb PHB BE 53
  cfg-ds-ingress dscp<->phb PHB BE 54
  cfg-ds-ingress dscp<->phb PHB BE 55
  cfg-ds-ingress dscp<->phb PHB CS7 56
  cfg-ds-ingress dscp<->phb PHB BE 57
  cfg-ds-ingress dscp<->phb PHB BE 58
  cfg-ds-ingress dscp<->phb PHB BE 59
  cfg-ds-ingress dscp<->phb PHB BE 60
  cfg-ds-ingress dscp<->phb PHB BE 61
  cfg-ds-ingress dscp<->phb PHB BE 62
  cfg-ds-ingress dscp<->phb PHB BE 63
$
port-service-queue-monitor xgei-1/1/0/1 enable
port-service-queue-monitor xgei-1/1/0/2 enable
port-service-queue-monitor xgei-1/1/0/3 enable
port-service-queue-monitor xgei-1/1/0/4 enable
port-service-queue-monitor xgei-1/1/0/5 enable
port-service-queue-monitor xgei-1/1/0/6 enable
port-service-queue-monitor xgei-1/1/0/7 enable
port-service-queue-monitor xgei-1/1/0/8 enable
port-service-queue-monitor xgei-1/1/0/9 enable
port-service-queue-monitor xgei-1/1/0/10 enable
port-service-queue-monitor xgei-1/1/0/11 enable
port-service-queue-monitor xgei-1/1/0/12 enable
port-service-queue-monitor xgei-1/1/0/13 enable
port-service-queue-monitor xgei-1/1/0/14 enable
port-service-queue-monitor xgei-1/1/0/15 enable
port-service-queue-monitor xgei-1/1/0/16 enable
port-service-queue-monitor xgei-1/1/0/17 enable
port-service-queue-monitor xgei-1/1/0/18 enable
port-service-queue-monitor gei-1/1/0/19 enable
port-service-queue-monitor gei-1/1/0/20 enable
port-service-queue-monitor gei-1/1/0/37 enable
port-service-queue-monitor gei-1/1/0/38 enable
port-service-queue-monitor gei-1/1/0/39 enable
port-service-queue-monitor gei-1/1/0/40 enable
cfg-unknown-unicast-rsp restr-time 10
!</qos>
!<pm_protect>
protocol_receive_rate 2000
ptp-time-check disable
set-protocol-pkt-shape pir 2000 pbs 500
ptp-frequency-check disable
set-ptp-freq-rec-para loop-close arith1 lock-thres 50 pdv-rep-min 5 pdv-rep-max 
20 phase-cycle 10 ptp-direction forward
!</pm_protect>
!<pm_mainten>
auto-external-buffer on resume-switch on
!</pm_mainten>
!<pm_if_mainten>
gps-attribute
  gps istodmonitorptp disable
  gps direction gps-1/1/0/42 1
  gps direction gps-1/1/0/43 1
  gps portenable gps-1/1/0/42 0
  gps portenable gps-1/1/0/43 0
  gps inputoffset gps-1/1/0/42 0
  gps inputoffset gps-1/1/0/43 0
  gps protocol gps-1/1/0/42 1
  gps protocol gps-1/1/0/43 1
  gps outputoffset gps-1/1/0/42 0
  gps outputoffset gps-1/1/0/43 0
  gps speed gps-1/1/0/42 2
  gps speed gps-1/1/0/43 2
  gps statusflag gps-1/1/0/42 2
  gps statusflag gps-1/1/0/43 2
  gps tod gps-1/1/0/42 0
  gps tod gps-1/1/0/43 0
  gps 1ppsout gps-1/1/0/42 1
  gps 1ppsout gps-1/1/0/43 1
$
!</pm_if_mainten>