!
! Last configuration change at 15:16:41 MNT Wed Jun 17 2026 by batjargal
! NVRAM config last updated at 18:00:53 MNT Tue Jun 9 2026 by batjargal
!
version 15.5
no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime
service timestamps log datetime msec localtime
service password-encryption
service unsupported-transceiver
no platform punt-keepalive disable-kernel-core
!
hostname E1_Router
!
boot-start-marker
boot-end-marker
!
!
vrf definition Mgmt-intf
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
vrf definition Mgmt-vrf
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
card type e1 0 0
card type e1 0 2
card type e1 1 0
card type e1 1 2
logging buffered 64000
enable secret 5 $1$Fi01$K0zCw7ToeVNAdNGoo7o7I1
!
aaa new-model
!
!
aaa group server tacacs+ MOBICOM
 server-private 192.168.242.17 key 7 153F354A2A2B2A256C01
 ip vrf forwarding Mgmt-intf
 ip tacacs source-interface GigabitEthernet0
!
aaa authentication login default group MOBICOM local enable
aaa authorization config-commands
aaa authorization exec default group MOBICOM local 
aaa authorization commands 1 default group MOBICOM local 
aaa authorization commands 6 default group MOBICOM local 
aaa authorization commands 7 default group MOBICOM local 
aaa authorization commands 15 default group MOBICOM local 
aaa accounting exec default start-stop group MOBICOM
aaa accounting commands 1 default start-stop group MOBICOM
aaa accounting commands 6 default start-stop group MOBICOM
aaa accounting commands 7 default start-stop group MOBICOM
aaa accounting commands 14 default start-stop group MOBICOM
aaa accounting commands 15 default start-stop group MOBICOM
aaa accounting connection default start-stop group MOBICOM
aaa accounting system default start-stop group MOBICOM
!
!
!
!
!
aaa session-id common
clock timezone MNT 8 0
no ip source-route
!
!
!
!
!
!
!
!
!
!
!
no ip bootp server
no ip domain lookup
ip domain name mobicom.mn
!
!
!
no ip igmp snooping
!
!
!
!
!
!
!
subscriber templating
!
l2vpn
!
multilink bundle-name authenticated
!
!
!
!
!
!
!
!
!
!
spanning-tree extend system-id
!
username mobicom privilege 15 secret 5 $1$UJzF$/e..G/zUtmVmBZGg6/Mgv1
!
redundancy
 mode none
!
!
!
!
controller E1 0/0/0
!
controller E1 0/0/1
!
controller E1 0/0/2
!
controller E1 0/0/3
!
controller E1 0/0/4
!
controller E1 0/0/5
!
controller E1 0/0/6
!
controller E1 0/0/7
!
controller E1 0/0/8
!
controller E1 0/0/9
!
controller E1 0/0/10
!
controller E1 0/0/11
!
controller E1 0/0/12
!
controller E1 0/0/13
!
controller E1 0/0/14
!
controller E1 0/0/15
!
controller E1 0/0/16
!
controller E1 0/0/17
!
controller E1 0/0/18
!
controller E1 0/0/19
!
controller E1 0/0/20
!
controller E1 0/0/21
!
controller E1 0/0/22
!
controller E1 0/0/23
!
controller SONET 0/1/0
 description to S385-1 Slot12 port8
 framing sdh
 clock source line
 aug mapping au-4
 !
 au-4 1 tug-3 1
  mode c-12
 !
 au-4 1 tug-3 2
  mode c-12
 !
 au-4 1 tug-3 3
  mode c-12
!
controller E1 0/2/0
!
controller E1 0/2/1
!
controller E1 0/2/2
!
controller E1 0/2/3
!
controller E1 0/2/4
!
controller E1 0/2/5
!
controller E1 0/2/6
!
controller E1 0/2/7
 clock source internal
!
controller E1 0/2/8
 description CLOCK-SYNC DDF3x2:23 BSC11_Atermux32_TP240
!
controller E1 0/2/9
 shutdown
 clock source internal
 description BANKofTokyoMITSUBISHI-IPLC
!
controller E1 0/2/10
 clock source internal
!
controller E1 0/2/11
 clock source internal
!
controller E1 0/2/12
 clock source internal
!
controller E1 0/2/13
!
controller E1 0/2/14
!
controller E1 0/2/15
!
controller E1 0/2/16
!
controller E1 0/2/17
!
controller E1 0/2/18
!
controller E1 0/2/19
!
controller E1 0/2/20
!
controller E1 0/2/21
!
controller E1 0/2/22
 loop local
!
controller E1 0/2/23
 loop local
!
controller SONET 0/3/0
 description to S-385-2 Slot2 Port8
 framing sdh
 clock source line
 aug mapping au-4
 !
 au-4 1 tug-3 1
  mode c-12
 !
 au-4 1 tug-3 2
  mode c-12
 !
 au-4 1 tug-3 3
  mode c-12
!
controller E1 1/0/0
!
controller E1 1/0/1
!
controller E1 1/0/2
!
controller E1 1/0/3
!
controller E1 1/0/4
!
controller E1 1/0/5
!
controller E1 1/0/6
!
controller E1 1/0/7
!
controller E1 1/2/0
!
controller E1 1/2/1
!
controller E1 1/2/2
!
controller E1 1/2/3
!
controller E1 1/2/4
!
controller E1 1/2/5
!
controller E1 1/2/6
!
controller E1 1/2/7
!
!
recovered-clock 0 2
 clock master
!
lldp run
!
class cem CEMCLASS
 payload-size 512
 dejitter-buffer 12
!
! 
!
!
!
!
!
crypto isakmp policy 1
 encr 3des
 hash md5
 authentication pre-share
 group 2
crypto isakmp key Starlink-Mobicom address 0.0.0.0        
!
!
crypto ipsec transform-set TS esp-3des esp-md5-hmac 
 mode transport
!
!
crypto ipsec profile protect-gre
 set security-association lifetime seconds 86400
 set transform-set TS 
!
!
!
!
!
! 
! 
! 
! 
! 
! 
!
!
interface Loopback0
 description for BGP, SNMP
 ip address 10.40.40.4 255.255.255.255
!
interface Tunnel1
 description Starlink_Agg
 ip address 172.16.1.1 255.255.255.0
 no ip redirects
 ip mtu 1400
 ip nhrp authentication MobiCom
 ip nhrp network-id 1
 ip tcp adjust-mss 1360
 tunnel source GigabitEthernet1/1/3
 tunnel mode gre multipoint
 tunnel protection ipsec profile protect-gre
!
interface GigabitEthernet1/1/0
 description to ICR#1(Gi0/0/0/1)
 ip address 10.15.17.14 255.255.255.252
 load-interval 30
 negotiation auto
!
interface GigabitEthernet1/1/1
 description to L2_Agg#1(Gi9/3)
 ip address 172.19.41.2 255.255.255.252
 load-interval 30
 no negotiation auto
!
interface GigabitEthernet1/1/2
 description to_Pe-Core#1 (Gig 0/5/0/19)
 mtu 9000
 ip address 172.19.41.249 255.255.255.252
 ip mtu 1500
 ip router isis E1_MPLS
 load-interval 30
 negotiation auto
 mpls ip
 isis circuit-type level-2-only
 isis metric 300
 no isis hello padding always
!
interface GigabitEthernet1/1/2.33
 description 3G_E1Rtr to PeCore#1
 encapsulation dot1Q 33
 ip address 172.19.42.254 255.255.255.252
 shutdown
!
interface GigabitEthernet1/1/2.44
 description LTE_E1Rtr to PeCore#1
 encapsulation dot1Q 44
 ip address 172.19.42.250 255.255.255.252
 shutdown
!
interface GigabitEthernet1/1/2.100
 description IPN-MONITORING to PE-CORE#1
 encapsulation dot1Q 100
 ip address 172.19.42.246 255.255.255.252
!
interface GigabitEthernet1/1/3
 description To MC-DIst#1 Gi1/1(Starlink tunnel connection)
 ip address 103.29.145.82 255.255.255.248
 negotiation auto
!
interface GigabitEthernet1/1/4
 mtu 9000
 no ip address
 negotiation auto
!
interface GigabitEthernet1/1/5
 description Radio router(Gi0/3/0/16)
 ip address 10.6.240.2 255.255.255.248
 negotiation auto
!
interface GigabitEthernet1/1/6
 description USMS router(Fa0/2/6)
 ip address 10.12.13.17 255.255.255.248
 negotiation auto
!
interface GigabitEthernet1/1/7
 description To_E1-rtr5
 mtu 9000
 ip address 172.19.41.17 255.255.255.252
 ip mtu 1500
 ip router isis E1_MPLS
 negotiation auto
 mpls ip
 isis circuit-type level-2-only
 isis metric 1000
 no isis hello padding always
!
interface GigabitEthernet0
 description IPN-Manage-sw1 14 port
 vrf forwarding Mgmt-intf
 ip address 10.44.1.16 255.255.255.0
 negotiation auto
!
interface Virtual-cem0/2/24
 no ip address
!
router isis E1_MPLS
 net 49.0001.0100.4004.1004.00
 metric-style wide
 passive-interface Loopback0
!
router bgp 65504
 bgp router-id 10.40.40.4
 bgp log-neighbor-changes
 neighbor 10.6.240.1 remote-as 65511
 neighbor 10.6.240.1 update-source GigabitEthernet1/1/5
 neighbor 10.12.13.18 remote-as 65515
 neighbor 10.12.13.18 update-source GigabitEthernet1/1/6
 neighbor 10.15.17.13 remote-as 65523
 neighbor 10.15.17.13 update-source GigabitEthernet1/1/0
 neighbor 10.15.17.17 remote-as 65511
 neighbor 10.15.17.17 update-source GigabitEthernet1/3/0
 neighbor 10.40.40.5 remote-as 65504
 neighbor 10.40.40.5 update-source Loopback0
 neighbor 172.19.41.1 remote-as 65388
 neighbor 172.19.42.245 remote-as 65510
 neighbor 172.19.42.245 update-source GigabitEthernet1/1/2.100
 neighbor 172.19.42.249 remote-as 65510
 neighbor 172.19.42.249 update-source GigabitEthernet1/1/2.44
 neighbor 172.19.42.253 remote-as 65510
 neighbor 172.19.42.253 update-source GigabitEthernet1/1/2.33
 !
 address-family ipv4
  network 10.6.240.2 mask 255.255.255.255
  network 10.40.40.4 mask 255.255.255.255
  network 172.19.42.250 mask 255.255.255.255
  redistribute static route-map STATIC-OUT
  neighbor 10.6.240.1 activate
  neighbor 10.6.240.1 soft-reconfiguration inbound
  neighbor 10.6.240.1 route-map TO-RAN out
  neighbor 10.12.13.18 activate
  neighbor 10.12.13.18 soft-reconfiguration inbound
  neighbor 10.12.13.18 route-map FROM-USMS in
  neighbor 10.12.13.18 route-map TO-USMS out
  neighbor 10.15.17.13 activate
  neighbor 10.15.17.13 route-map TO-ICR-OUT out
  neighbor 10.15.17.17 activate
  neighbor 10.15.17.17 soft-reconfiguration inbound
  neighbor 10.15.17.17 route-map SECONDARY in
  neighbor 10.15.17.17 route-map TO-ICR-OUT out
  neighbor 10.40.40.5 activate
  neighbor 10.40.40.5 next-hop-self
  neighbor 172.19.41.1 activate
  neighbor 172.19.42.245 activate
  neighbor 172.19.42.245 route-map IPN-MONITORING in
  neighbor 172.19.42.245 route-map STARLINK-MONITORING out
  neighbor 172.19.42.249 activate
  neighbor 172.19.42.249 route-map ZAISAN-4G out
  neighbor 172.19.42.253 activate
  neighbor 172.19.42.253 route-map ZAISAN-3G out
 exit-address-family
!
ip forward-protocol nd
!
no ip http server
no ip http secure-server
ip tftp source-interface GigabitEthernet0
ip route 0.0.0.0 0.0.0.0 103.29.145.81 name DEFAULT_ROUTE
ip route 10.1.241.0 255.255.255.248 172.16.1.2 name TUV_Zaamar-toson-MGNT
ip route 10.1.241.16 255.255.255.248 172.16.1.3 name TUV_EejHad-2G_STARLINK
ip route 10.1.241.24 255.255.255.248 172.16.1.4 name DOG_HuvsgulBilegtGoviUurhaiSL-MGNT
ip route 10.1.241.32 255.255.255.248 172.16.1.5 name UVH_Nariinteel_ArtsBag_IndertSL-MGNT
ip route 10.1.241.40 255.255.255.248 172.16.1.6 name SUH_ErdenetsagaanBayanErchUurhaiSL-MGNT
ip route 10.1.241.48 255.255.255.248 172.16.1.7 name ARH_UndurUlaanDongoiBagSL-MGNT
ip route 10.1.241.56 255.255.255.248 172.16.1.8 name BUL_Teshig1rZastavSL-MGNT
ip route 10.1.241.64 255.255.255.248 172.16.1.9 name BAU_TsengelZagasanNuurBagSL-MGNT
ip route 10.1.241.72 255.255.255.248 172.16.1.10 name BAU_TsengelZagasanNuurBagSL-MGNT
ip route 10.1.241.80 255.255.255.248 172.16.1.11 name BAU_BulganShugderBagSL-MGNT
ip route 10.1.241.88 255.255.255.248 172.16.1.12 name BAU_UlaanhusAltaiTavanBogdSL-MGNT
ip route 10.1.241.96 255.255.255.248 172.16.1.13 name HUV_Galt5bagHaluunRashaanSL-MGNT
ip route 10.1.241.104 255.255.255.248 172.16.1.14 name SUH_Munhhaan_BayanTeremBag_LTE-OAM
ip route 10.1.241.112 255.255.255.248 172.16.1.15 name SEL_Tunhel_TosgonSL_OAM
ip route 10.1.241.120 255.255.255.248 172.16.1.17 name Sel_Shaamar_DulaanUrtuu_LTE-OAM-SL
ip route 10.1.241.128 255.255.255.248 172.16.1.18 name SUH_Dariganga_ShiliinBogd_Skytel_LTE_OM
ip route 10.1.241.136 255.255.255.248 172.16.1.19 name DOG_Altanshiree_GazriinTosniiUildverBorHuuvu-OAM-SL
ip route 10.1.241.144 255.255.255.248 172.16.1.20 name SEL_Orhontuul_Hangal_Railway_LTE_OAM
ip route 10.4.14.2 255.255.255.255 172.16.1.2 name TUV_Zaamar-toson-bag-STARLINK
ip route 10.4.14.3 255.255.255.255 172.16.1.3 name TUV_EejHad-STARLINK
ip route 10.4.14.4 255.255.255.255 172.16.1.4 name DOG_HuvsgulBilegtGoviUurhaiSL
ip route 10.4.14.5 255.255.255.255 172.16.1.5 name UVH_Nariinteel_ArtsBag_IndertSL
ip route 10.4.14.6 255.255.255.255 172.16.1.6 name SUH_ErdenetsagaanBayanErchUurhaiSL
ip route 10.4.14.7 255.255.255.255 172.16.1.7 name ARH_UndurUlaanDongoiBagSL
ip route 10.4.14.8 255.255.255.255 172.16.1.8 name BUL_Teshig1rZastavSL
ip route 10.4.14.9 255.255.255.255 172.16.1.9 name BAU_TsengelZagasanNuurBagSL
ip route 10.4.14.10 255.255.255.255 172.16.1.10 name BAU_TsengelZagasanNuurBagSL
ip route 10.4.14.11 255.255.255.255 172.16.1.11 name BAU_BulganShugderBagSL
ip route 10.4.14.12 255.255.255.255 172.16.1.12 name BAU_UlaanhusAltaiTavanBogdSL
ip route 10.4.14.13 255.255.255.255 172.16.1.13 name HUV_Galt5bagHaluunRashaanSL
ip route 10.4.14.14 255.255.255.255 172.16.1.14 name SUH_Munhhaan_BayanTeremBag_Monitoring
ip route 10.4.14.15 255.255.255.255 172.16.1.15 name SEL_Tunhel_TosgonSL_Monitoring
ip route 10.4.14.16 255.255.255.255 172.16.1.16 name TUR-STARLINK
ip route 10.4.14.17 255.255.255.255 172.16.1.17 name Sel_Shaamar_DulaanUrtuu_SL
ip route 10.4.14.18 255.255.255.255 172.16.1.18 name SUH_Dariganga_ShiliinBogd_Skytel_SL
ip route 10.4.14.19 255.255.255.255 172.16.1.19 name DOG_Altanshiree_GazriinTosniiUildverBorHuuvuSL
ip route 10.4.14.20 255.255.255.255 172.16.1.20 name SEL_Orhontuul_Hangal_Railway_SL
ip route 10.4.241.0 255.255.255.248 172.16.1.2 name TUV_Zaamar-toson-LTE
ip route 10.4.241.16 255.255.255.248 172.16.1.3 name TUV_EejHad-LTE_STARLINK
ip route 10.4.241.24 255.255.255.248 172.16.1.4 name DOG_HuvsgulBilegtGoviUurhaiSL-LTE
ip route 10.4.241.32 255.255.255.248 172.16.1.5 name UVH_Nariinteel_ArtsBag_IndertSL-LTE
ip route 10.4.241.40 255.255.255.248 172.16.1.6 name SUH_ErdenetsagaanBayanErchUurhaiSL-LTE
ip route 10.4.241.48 255.255.255.248 172.16.1.7 name ARH_UndurUlaanDongoiBagSL-LTE
ip route 10.4.241.56 255.255.255.248 172.16.1.8 name BUL_Teshig1rZastavSL-LTE
ip route 10.4.241.64 255.255.255.248 172.16.1.9 name BAU_TsengelZagasanNuurBagSL-LTE
ip route 10.4.241.72 255.255.255.248 172.16.1.10 name BAU_TsengelZagasanNuurBagSL-LTE
ip route 10.4.241.80 255.255.255.248 172.16.1.11 name BAU_BulganShugderBagSL-LTE
ip route 10.4.241.88 255.255.255.248 172.16.1.12 name BAU_UlaanhusAltaiTavanBogdSL-LTE
ip route 10.4.241.96 255.255.255.248 172.16.1.13 name HUV_Galt5bagHaluunRashaanSL-LTE
ip route 10.4.241.104 255.255.255.248 172.16.1.14 name SUH_Munhhaan_BayanTeremBag_LTE
ip route 10.4.241.112 255.255.255.248 172.16.1.15 name SEL_Tunhel_TosgonSL_LTE
ip route 10.4.241.120 255.255.255.248 172.16.1.17 name Sel_Shaamar_DulaanUrtuu_LTE-SL
ip route 10.4.241.128 255.255.255.248 172.16.1.18 name SUH_Dariganga_ShiliinBogd_Skytel_LTE
ip route 10.4.241.136 255.255.255.248 172.16.1.19 name DOG_Altanshiree_GazriinTosniiUildverBorHuuvu-LTE-SL
ip route 10.4.241.144 255.255.255.248 172.16.1.20 name SEL_Orhontuul_Hangal_Railway_LTE_Service
ip route 10.6.241.0 255.255.255.248 172.16.1.2 name TUV_Zaamar-toson-2G
ip route 10.6.241.16 255.255.255.248 172.16.1.3 name TUV_EejHad-2G_STARLINK
ip route 10.6.241.24 255.255.255.248 172.16.1.4 name DOG_HuvsgulBilegtGoviUurhaiSL-2G
ip route 10.6.241.32 255.255.255.248 172.16.1.5 name UVH_Nariinteel_ArtsBag_IndertSL-2G
ip route 10.6.241.40 255.255.255.248 172.16.1.6 name SUH_ErdenetsagaanBayanErchUurhaiSL-2G
ip route 10.6.241.48 255.255.255.248 172.16.1.7 name ARH_UndurUlaanDongoiBagSL-2G
ip route 10.6.241.56 255.255.255.248 172.16.1.8 name BUL_Teshig1rZastavSL-2G
ip route 10.6.241.64 255.255.255.248 172.16.1.9 name BAU_TsengelZagasanNuurBagSL-2G
ip route 10.6.241.72 255.255.255.248 172.16.1.10 name BAU_TsengelZagasanNuurBagSL-2G
ip route 10.6.241.80 255.255.255.248 172.16.1.11 name BAU_BulganShugderBagSL-2G
ip route 10.6.241.88 255.255.255.248 172.16.1.12 name BAU_UlaanhusAltaiTavanBogdSL-2G
ip route 10.6.241.96 255.255.255.248 172.16.1.13 name HUV_Galt5bagHaluunRashaanSL-2G
ip route 10.6.241.104 255.255.255.248 172.16.1.14 name SUH_Munhhaan_BayanTeremBag_2G
ip route 10.6.241.112 255.255.255.248 172.16.1.15 name SEL_Tunhel_TosgonSL_2G
ip route 10.6.241.120 255.255.255.248 172.16.1.17 name Sel_Shaamar_DulaanUrtuu_2G-SL
ip route 10.6.241.128 255.255.255.248 172.16.1.18 name SUH_Dariganga_ShiliinBogd_Skytel_2G
ip route 10.6.241.136 255.255.255.248 172.16.1.19 name DOG_Altanshiree_GazriinTosniiUildverBorHuuvu-2G-SL
ip route 10.6.241.144 255.255.255.248 172.16.1.20 name SEL_Orhontuul_Hangal_Railway_2G
ip route 10.63.20.0 255.255.255.0 Null0 name STAR-LINK-USMS-ZONE
ip route 10.63.20.8 255.255.255.248 172.16.1.19 name DOG_Altanshiree_GazriinTosniiUildverBorHuuvu-USMS-SL
ip route 10.63.20.128 255.255.255.248 172.16.1.18 name SUH_Dariganga_ShiliinBogd_Skytel_USMS
ip route 10.63.20.136 255.255.255.248 172.16.1.15 name SEL_Tunhel_TosgonSL_USMS
ip route 10.63.20.144 255.255.255.248 172.16.1.14 name SUH_Munhhaan_BayanTeremBag_USMS
ip route 10.63.20.144 255.255.255.248 172.16.1.20 name SEL_Orhontuul_Hangal_Railway_USMS
ip route 10.63.20.152 255.255.255.248 172.16.1.13 name HUV_Galt5bagHaluunRashaanSL-USMS
ip route 10.63.20.160 255.255.255.248 172.16.1.12 name BAU_UlaanhusAltaiTavanBogdSL-USMS
ip route 10.63.20.168 255.255.255.248 172.16.1.11 name BAU_BulganShugderBagSL-USMS
ip route 10.63.20.176 255.255.255.248 172.16.1.10 name BAU_TsengelZagasanNuurBagSL-USMS
ip route 10.63.20.184 255.255.255.248 172.16.1.9 name BAU_TsengelZagasanNuurBagSL-USMS
ip route 10.63.20.192 255.255.255.248 172.16.1.8 name BUL_Teshig1rZastavSL-USMS
ip route 10.63.20.200 255.255.255.248 172.16.1.7 name ARH_UndurUlaanDongoiBagSL-USMS
ip route 10.63.20.208 255.255.255.248 172.16.1.6 name SUH_ErdenetsagaanBayanErchUurhaiSL-USMS
ip route 10.63.20.216 255.255.255.248 172.16.1.5 name UVH_Nariinteel_ArtsBag_IndertSL-USMS
ip route 10.63.20.224 255.255.255.248 172.16.1.4 name DOG_HuvsgulBilegtGoviUurhaiSL-USMS
ip route 10.63.20.232 255.255.255.248 172.16.1.3 name TUV_Eejhad_STARLINK_USMS
ip route 10.63.20.240 255.255.255.248 172.16.1.2 name TUV_Zaamar_Toson-USMS
ip route 10.63.20.248 255.255.255.248 172.16.1.17 name Sel_Shaamar_DulaanUrtuu_USMS-SL
ip route vrf Mgmt-intf 0.0.0.0 0.0.0.0 10.44.1.254
ip tacacs source-interface GigabitEthernet0
ip ssh version 2
!
ip access-list standard SNMP-Access
 permit 192.168.120.13
 permit 192.168.242.31
 permit 192.168.242.29
 permit 192.168.242.20
 permit 192.168.242.11
 permit 192.168.242.2
 permit 192.168.242.105
 deny   any
ip access-list standard VTY-Access
 permit 172.30.14.0 0.0.0.255
 permit 172.30.21.0 0.0.0.255
 permit 192.168.242.0 0.0.0.255
 permit 192.168.244.0 0.0.0.255
 permit 10.32.110.0 0.0.0.255
 permit 10.44.0.0 0.0.255.255
 permit 10.32.0.0 0.0.255.255
 permit 27.123.215.0 0.0.0.255
 deny   any
!
!
ip prefix-list FROM-USMS seq 10 permit 10.60.32.0/24 le 29
ip prefix-list FROM-USMS seq 20 permit 172.27.53.0/24
!
ip prefix-list IPN-MONITORING seq 10 permit 192.168.242.0/24 le 32
ip prefix-list IPN-MONITORING seq 11 permit 192.168.244.0/24 le 32
!
ip prefix-list STARLINK-MONITORING seq 10 permit 10.4.14.0/25 le 32
ip prefix-list STARLINK-MONITORING seq 11 permit 10.4.36.128/25 le 32
ip prefix-list STARLINK-MONITORING seq 12 permit 10.4.40.128/25 le 32
ip prefix-list STARLINK-MONITORING seq 13 permit 10.4.172.128/25 le 32
ip prefix-list STARLINK-MONITORING seq 14 permit 10.4.194.128/25 le 32
ip prefix-list STARLINK-MONITORING seq 15 permit 10.61.46.8/29 le 32
ip prefix-list STARLINK-MONITORING seq 20 permit 10.40.40.4/32
!
ip prefix-list STATIC-OUT seq 10 permit 10.4.36.128/25
ip prefix-list STATIC-OUT seq 20 permit 10.4.40.128/25
ip prefix-list STATIC-OUT seq 30 permit 10.4.172.128/25
ip prefix-list STATIC-OUT seq 40 permit 10.4.194.128/25
ip prefix-list STATIC-OUT seq 50 permit 10.61.46.8/29
ip prefix-list STATIC-OUT seq 60 permit 10.100.12.0/24
ip prefix-list STATIC-OUT seq 70 permit 10.181.0.32/29
ip prefix-list STATIC-OUT seq 80 permit 10.181.0.40/29
ip prefix-list STATIC-OUT seq 90 permit 10.181.0.48/29
ip prefix-list STATIC-OUT seq 100 permit 10.181.0.56/29
ip prefix-list STATIC-OUT seq 110 permit 10.181.0.64/29
ip prefix-list STATIC-OUT seq 115 permit 10.4.14.0/24 le 32
ip prefix-list STATIC-OUT seq 120 permit 10.6.241.0/24 le 29
ip prefix-list STATIC-OUT seq 130 permit 10.1.241.0/24 le 29
ip prefix-list STATIC-OUT seq 140 permit 10.63.20.0/24
ip prefix-list STATIC-OUT seq 150 permit 10.4.241.0/24 le 29
ip prefix-list STATIC-OUT seq 160 permit 10.1.210.176/29
ip prefix-list STATIC-OUT seq 170 permit 10.4.210.176/29
ip prefix-list STATIC-OUT seq 180 permit 10.1.210.160/29
ip prefix-list STATIC-OUT seq 190 permit 10.4.210.160/29
ip prefix-list STATIC-OUT seq 200 permit 10.7.241.144/29
!
ip prefix-list TO-ICR-OUT seq 15 permit 10.181.0.0/28
ip prefix-list TO-ICR-OUT seq 20 permit 10.181.0.0/24
ip prefix-list TO-ICR-OUT seq 21 permit 10.181.0.16/29
ip prefix-list TO-ICR-OUT seq 25 permit 10.181.0.16/28
ip prefix-list TO-ICR-OUT seq 30 permit 10.16.30.0/30
ip prefix-list TO-ICR-OUT seq 31 permit 10.101.30.0/30
ip prefix-list TO-ICR-OUT seq 35 permit 10.181.0.24/29
ip prefix-list TO-ICR-OUT seq 41 permit 10.181.0.72/29
ip prefix-list TO-ICR-OUT seq 42 permit 10.181.0.80/29
ip prefix-list TO-ICR-OUT seq 43 permit 10.181.0.32/29
ip prefix-list TO-ICR-OUT seq 44 permit 10.181.0.40/29
ip prefix-list TO-ICR-OUT seq 45 permit 10.181.0.48/29
ip prefix-list TO-ICR-OUT seq 46 permit 10.181.0.56/29
ip prefix-list TO-ICR-OUT seq 47 permit 10.181.0.64/29
ip prefix-list TO-ICR-OUT seq 48 permit 10.1.241.0/29
ip prefix-list TO-ICR-OUT seq 49 permit 10.1.241.16/29
ip prefix-list TO-ICR-OUT seq 50 permit 10.1.241.24/29
ip prefix-list TO-ICR-OUT seq 51 permit 10.1.241.32/29
ip prefix-list TO-ICR-OUT seq 52 permit 10.1.241.40/29
ip prefix-list TO-ICR-OUT seq 53 permit 10.1.241.48/29
ip prefix-list TO-ICR-OUT seq 54 permit 10.1.241.56/29
ip prefix-list TO-ICR-OUT seq 55 permit 10.1.241.64/29
ip prefix-list TO-ICR-OUT seq 56 permit 10.1.241.72/29
ip prefix-list TO-ICR-OUT seq 57 permit 10.1.241.80/29
ip prefix-list TO-ICR-OUT seq 58 permit 10.1.241.88/29
ip prefix-list TO-ICR-OUT seq 59 permit 10.1.241.96/29
ip prefix-list TO-ICR-OUT seq 60 permit 10.1.241.104/29
ip prefix-list TO-ICR-OUT seq 61 permit 10.1.241.112/29
ip prefix-list TO-ICR-OUT seq 62 permit 10.1.241.120/29
ip prefix-list TO-ICR-OUT seq 63 permit 10.1.241.128/29
ip prefix-list TO-ICR-OUT seq 64 permit 10.1.241.144/29
ip prefix-list TO-ICR-OUT seq 65 permit 10.1.241.136/29
!
ip prefix-list TO-RAN seq 5 permit 10.7.241.0/24 le 29
ip prefix-list TO-RAN seq 10 permit 10.1.241.0/24 le 29
ip prefix-list TO-RAN seq 20 permit 10.6.241.0/24 le 29
ip prefix-list TO-RAN seq 30 permit 172.16.1.0/29
ip prefix-list TO-RAN seq 40 permit 10.4.241.0/24 le 29
ip prefix-list TO-RAN seq 45 permit 10.181.0.32/29
ip prefix-list TO-RAN seq 46 permit 10.181.0.40/29
ip prefix-list TO-RAN seq 47 permit 10.181.0.48/29
ip prefix-list TO-RAN seq 48 permit 10.181.0.56/29
ip prefix-list TO-RAN seq 49 permit 10.181.0.64/29
!
ip prefix-list TO-USMS seq 10 permit 10.63.20.0/24
!
ip prefix-list ZAISAN-3G seq 10 permit 10.15.210.176/29
ip prefix-list ZAISAN-3G seq 20 permit 10.100.210.176/29
!
ip prefix-list ZAISAN-4G seq 10 permit 10.1.210.160/29
ip prefix-list ZAISAN-4G seq 20 permit 10.4.210.160/29
logging source-interface Loopback0
logging source-interface GigabitEthernet0 vrf Mgmt-intf
logging host 192.168.242.11
logging host 192.168.242.11 vrf Mgmt-intf
!
route-map TO-ICR-OUT permit 10
 match ip address prefix-list TO-ICR-OUT
!
route-map FROM-USMS permit 10
 match ip address prefix-list FROM-USMS
!
route-map FROM-USMS deny 20
!
route-map TO-USMS permit 10
 match ip address prefix-list TO-USMS
!
route-map STARLINK-MONITORING permit 10
 match ip address prefix-list STARLINK-MONITORING
!
route-map ZAISAN-4G permit 10
 match ip address prefix-list ZAISAN-4G
 set local-preference 210
!
route-map ZAISAN-3G permit 10
 match ip address prefix-list ZAISAN-3G
 set local-preference 210
!
route-map SECONDARY permit 10
 set local-preference 99
!
route-map TO-RAN permit 10
 match ip address prefix-list TO-RAN
 set local-preference 200
!
route-map IPN-MONITORING permit 10
 match ip address prefix-list IPN-MONITORING
!
route-map STATIC-OUT permit 10
 match ip address prefix-list STATIC-OUT
!
snmp-server community AHXAAPAX RO SNMP-Access
snmp-server community C!$c0-$upp0rt RW Cisco-Support-SNMP
snmp-server location 16-T-15-00105
snmp-server contact Failure
mpls ldp router-id Loopback0 force
!
tacacs-server host 192.168.242.17
tacacs-server key 7 080C7208271804165639
!
!
!
control-plane
!
 !
 !
 !
 !
!
!
!
!
!
line con 0
 stopbits 1
line aux 0
 stopbits 1
line vty 0 4
 access-class VTY-Access in vrf-also
 transport input ssh
 transport output all
line vty 5 15
 transport input none
 transport output none
!
network-clock synchronization mode QL-enabled
ntp server 10.27.27.251 prefer
!
end