! Command: show running-config
! device: RURAL-AGG1 (DCS-7280SR3-48YC8, EOS-4.33.6M)
!
! boot system flash:/EOS64-4.33.6M.swi
!
no aaa root
!
username mobicom privilege 15 secret sha512 $6$fxtIqnv9eFXhnYi6$3V1lyTygTkp.KPDigUeKPDicITCOmVPmf5tyrcuKmAzF99fHkodEhAMG67ciZeMWWPkiFDOHnplZQZdrmrZ3I0
!
hardware counter feature subinterface out
hardware counter feature subinterface in
!
no service interface inactive port-id allocation disabled
!
service routing protocols model multi-agent
!
logging buffered 65000
logging vrf MGMT host 192.168.242.11
!
hostname RURAL-AGG1
!
sflow sample 1000
sflow polling-interval 10
sflow vrf MGMT destination 192.168.242.105 2055
sflow vrf MGMT source-interface Management1
sflow destination 192.168.242.105 2055
sflow source-interface Loopback0
sflow extension bgp
sflow run
!
no sflow hardware acceleration
!
snmp-server ipv4 access-list SSH vrf MGMT
snmp-server location 16-T-15-00105
snmp-server vrf MGMT local-interface Management1
snmp-server community 5n#^Tsag!rag ro SSH
snmp-server host 192.168.242.105 vrf MGMT version 2c 5n#^Tsag!rag udp-port 161
snmp-server host 192.168.242.11 vrf MGMT version 2c 5n#^Tsag!rag udp-port 161
snmp-server host 192.168.242.11 vrf mgmt version 2c 5n#^Tsag!rag udp-port 161
snmp-server host 192.168.242.20 vrf MGMT version 2c 5n#^Tsag!rag udp-port 161
snmp-server host 192.168.242.31 vrf MGMT version 2c 5n#^Tsag!rag udp-port 161
snmp-server host 192.168.242.31 vrf mgmt version 2c 5n#^Tsag!rag udp-port 161
snmp-server vrf MGMT
!
spanning-tree mode mstp
!
service unsupported-transceiver OriginalForce f52ab166
!
system l1
   unsupported speed action error
   unsupported error-correction action error
!
clock timezone Hongkong
!
vlan 2999
!
vrf instance MGMT
!
tacacs-server host 192.168.242.17 vrf MGMT key 7 052638490F4D4F085D37
!
aaa group server tacacs+ TacServer
   server 192.168.242.17 vrf MGMT
!
aaa authentication login default group TacServer local
aaa authentication login console group TacServer local
aaa authentication policy on-success log
aaa authentication policy on-failure log
aaa authorization serial-console
aaa authorization exec default group TacServer local
aaa authorization commands all default group TacServer local
aaa accounting exec console start-stop group TacServer
aaa accounting exec default start-stop group TacServer
aaa accounting commands all default start-stop group TacServer
!
interface Port-Channel1
   description TO:PE-SUHBAATAR Et49/1
   mtu 9000
   no switchport
   ip address 10.151.51.13/30
   sflow enable
   isis enable RURAL-SR
   isis bfd
   isis circuit-type level-2
   isis metric 100
   no isis hello padding
   isis network point-to-point
!
interface Port-Channel2
   description TO:PE-DORNOD netco link (eth48)
   load-interval 30
   mtu 9000
   switchport trunk allowed vlan 2999
   switchport mode trunk
   sflow enable
!
interface Port-Channel3
   description TO:PE-ARKHANGAI ZTE-DWDM
   mtu 9000
   no switchport
   ip address 10.151.33.1/30
   sflow enable
   isis enable RURAL-SR
   isis bfd
   isis circuit-type level-2
   isis metric 100
   no isis hello padding
   isis network point-to-point
!
interface Port-Channel4
   description TO:PE-GOA MainLink Eth49/1
   load-interval 30
   mtu 9216
   no switchport
   ip address 10.151.44.1/30
   isis enable RURAL-SR
   isis bfd
   isis circuit-type level-2
   isis metric 100
   no isis hello padding
   isis network point-to-point
!
interface Port-Channel4.2244
   encapsulation dot1q vlan 2244
!
interface Port-Channel5
   description To GOA_PE_Eth47 ZTE-DWDM MX2 [0-6-18] Port 2
   mtu 9216
   no switchport
   ip address 10.151.44.9/30
   isis enable RURAL-SR
   isis bfd
   isis circuit-type level-2
   isis metric 700
   no isis hello padding
   isis network point-to-point
!
interface Port-Channel6
   description To_PE_UVS_Eth4,5_Po2
   mtu 9000
   no switchport
   ip address 10.151.45.9/30
   isis enable RURAL-SR
   isis circuit-type level-2
   isis metric 600
   no isis hello padding
   isis network point-to-point
!
interface Port-Channel7
   description TO:PE-HOVD(Mainlink)
   load-interval 30
   mtu 9216
   no switchport
   ip address 10.151.43.1/30
   isis enable RURAL-SR
   isis bfd
   isis circuit-type level-2
   isis metric 100
   no isis hello padding
   isis network point-to-point
!
interface Port-Channel7.2342
   encapsulation dot1q vlan 2342
!
interface Port-Channel8
   description TO:PE-HUV_Po2 over Zavhan
   mtu 9216
   no switchport
   ip address 10.151.38.9/30
   isis enable RURAL-SR
   isis bfd
   isis circuit-type level-2
   isis metric 700
   no isis hello padding
   isis network point-to-point
!
interface Port-Channel9
   description TO:PE-HUV_Eth45_NETCOM_Protection
   mtu 9216
   no switchport
   ip address 10.151.38.13/30
   isis enable RURAL-SR
   isis bfd
   isis circuit-type level-2
   isis metric 1100
   no isis hello padding
   isis network point-to-point
!
interface Port-Channel10
   mtu 9216
   no switchport
   ip address 10.151.46.1/30
   isis enable RURAL-SR
   isis bfd
   isis circuit-type level-2
   isis metric 500
   no isis hello padding
   isis network point-to-point
!
interface Port-Channel11
   mtu 9216
   no switchport
   ip address 10.151.46.9/30
   isis enable RURAL-SR
   isis bfd
   isis circuit-type level-2
   isis metric 1100
   no isis hello padding
   isis network point-to-point
!
interface Port-Channel100
   description To-Rural-Agg2
   mtu 9186
   no switchport
   ip address 10.8.88.213/30
   sflow enable
   isis enable RURAL-SR
   isis bfd
   isis circuit-type level-2
   isis metric 100
   no isis hello padding
   isis network point-to-point
!
interface Port-Channel200
   description To:TCB#1-1_9000-18EA_cgei_0/13/0/2 ZTE-MPLS-PEER
   mtu 9186
   no switchport
   ip address 10.8.88.210/30
   sflow enable
   isis enable RURAL-SR
   isis bfd
   isis circuit-type level-2
   isis metric 10000
   no isis hello padding
   isis network point-to-point
!
interface Ethernet1
   description TO:PE-DORNOD netco link (eth48)
   load-interval 30
   mtu 1600
   no switchport
!
interface Ethernet1.2999
   description TO:PE-DORNOD netco link (eth48)
   encapsulation dot1q vlan 2999
   ip address 10.151.58.1/30
   isis enable RURAL-SR
   no isis bfd
   isis circuit-type level-2
   isis metric 1200
   no isis hello padding
   isis network point-to-point
!
interface Ethernet2
   description TO:PE-ARKHANGAI ZTE-DWDM MXA [x-x-x](ARH eth47)
   no switchport
   channel-group 3 mode on
!
interface Ethernet3
   description TO:PE-ARKHANGAI ZTE-DWDM MXA [0-7-2](ARH eth45)
   no switchport
   channel-group 3 mode on
!
interface Ethernet4
   description TO:PE-UVS ZTE-DWDM MXA [0-6-18] Port7 (UVS eth41)
   mtu 9000
   no switchport
   channel-group 6 mode on
   no isis bfd
   no isis hello padding
!
interface Ethernet5
   description TO:PE-UVS ZTE-DWDM MXA [0-6-18] Port9 (UVS eth42)
   mtu 9000
   no switchport
   channel-group 6 mode on
   no isis bfd
   no isis hello padding
!
interface Ethernet6
   description To GOA_PE_Eth47 ZTE-DWDM MX2 [0-6-18] Port 2
   mtu 9216
   no switchport
   channel-group 5 mode on
   no isis bfd
   no isis hello padding
!
interface Ethernet7
!
interface Ethernet8
   description TO:PE-HUV_Et47 over Zavhan
   no switchport
   channel-group 8 mode on
   no isis bfd
   no isis hello padding
!
interface Ethernet9
   description TO:PE-HUV_Et46 over Zavhan
   no switchport
   channel-group 8 mode on
   no isis bfd
   no isis hello padding
!
interface Ethernet10
   description TO:NETCOM-ZAV-PROTECTION LINK Netcom(0-6-18) port7 - PE-ZAV_Eth42
   no switchport
   channel-group 11 mode on
!
interface Ethernet11
   description TO:PE-HUV_Eth45_NETCOM_Protection
   channel-group 9 mode on
!
interface Ethernet12
   description TO:PE-ZAV_Ethernet44
   channel-group 10 mode on
!
interface Ethernet13
!
interface Ethernet14
!
interface Ethernet15
!
interface Ethernet16
!
interface Ethernet17
!
interface Ethernet18
!
interface Ethernet19
!
interface Ethernet20
!
interface Ethernet21
!
interface Ethernet22
!
interface Ethernet23
!
interface Ethernet24
!
interface Ethernet25
!
interface Ethernet26
!
interface Ethernet27
!
interface Ethernet28
   description TO:TRX-PTN_Protection_PE-CORE#2_Gi0/4/1/9
!
interface Ethernet29
!
interface Ethernet30
!
interface Ethernet31
!
interface Ethernet32
!
interface Ethernet33
!
interface Ethernet34
!
interface Ethernet35
!
interface Ethernet36
!
interface Ethernet37
!
interface Ethernet38
!
interface Ethernet39
!
interface Ethernet40
!
interface Ethernet41
!
interface Ethernet42
!
interface Ethernet43
!
interface Ethernet44
!
interface Ethernet45
!
interface Ethernet46
!
interface Ethernet47
!
interface Ethernet48
   description To:RP/0/RSP1/CPU0:PE-CORE1 Te0/3/1/6
   mtu 9000
   no switchport
!
interface Ethernet48.90
   mtu 9000
   encapsulation dot1q vlan 90
!
interface Ethernet48.906
   description TO:PE-UVS eth48 (Uplink PTN)
   mtu 9000
   encapsulation dot1q vlan 906
   ip address 10.151.45.29/30
   sflow enable
   isis enable RURAL-SR
   isis bfd
   isis circuit-type level-2
   isis metric 800
   no isis hello padding
   isis network point-to-point
!
interface Ethernet48.912
   mtu 9000
   encapsulation dot1q vlan 912
   ip address 10.151.48.21/30
   isis enable RURAL-SR
   isis bfd
   isis circuit-type level-2
   isis metric 900
   isis network point-to-point
!
interface Ethernet48.921
   encapsulation dot1q vlan 921
   ip address 10.151.42.13/30
   isis enable RURAL-SR
   isis bfd
   isis circuit-type level-2
   isis metric 600
   isis network point-to-point
!
interface Ethernet48.929
   mtu 8900
   encapsulation dot1q vlan 929
   ip address 10.151.117.101/30
   isis enable RURAL-SR
   isis bfd
   isis circuit-type level-2
   isis metric 3000
   isis network point-to-point
!
interface Ethernet48.949
   encapsulation dot1q vlan 949
   ip address 10.151.49.157/30
   isis enable RURAL-SR
   isis bfd
   isis circuit-type level-2
   isis metric 500
   isis network point-to-point
!
interface Ethernet48.2217
   mtu 8986
   encapsulation dot1q vlan 2217
   ip address 10.151.117.13/30
   isis enable RURAL-SR
   isis bfd
   isis circuit-type level-2
   isis metric 2200
   no isis hello padding
   isis network point-to-point
!
interface Ethernet48.2244
   encapsulation dot1q vlan 2244
!
interface Ethernet48.2342
   encapsulation dot1q vlan 2342
!
interface Ethernet49/1
   description To:TCB#1-2_9000-18EA_cgei_0/13/0/2
   mtu 9700
   channel-group 200 mode on
!
interface Ethernet50/1
   description To:RURAL_AGG2 ARISTA-MPLS-PEER
   no switchport
   channel-group 100 mode on
!
interface Ethernet51/1
   description To:PE-SUHBAATAR ZTE-DWDM 8-20 (Et49/1)
   mtu 9216
   no switchport
   channel-group 1 mode on
!
interface Ethernet52/1
   description To:PE-GOVI-ALTAI ZTE-DWDM 0-3-26 (Et49/1)
   mtu 9216
   no switchport
   channel-group 4 mode on
!
interface Ethernet53/1
   description TO:PE-HOVD-Eth49/1 ZTE-DWDM [0-3-29] TS4/D
   no switchport
   channel-group 7 mode on
!
interface Ethernet54/1
   description TO:PE-HUV-Eth49/1 ZTE-DWDM
!
interface Ethernet55/1
!
interface Ethernet56/1
!
interface Loopback0
   ip address 10.8.90.201/32
   node-segment ipv4 index 201
   isis enable RURAL-SR
   isis passive
!
interface Management1
   vrf MGMT
   ip address 10.44.1.3/24
!
ip access-list SNMP-Access
   15 permit ip 192.168.242.0/24 any
   90 deny ip any any
!
ip access-list standard SSH
   10 permit 192.168.244.0/24
   20 permit 192.168.242.0/24
   30 permit 10.8.90.0/24
   40 permit 10.44.1.0/24
   50 permit 10.8.88.0/24
!
ip routing
no ip routing vrf MGMT
!
ipv6 unicast-routing
!
ip route 192.168.242.0/24 10.8.90.1
ip route 192.168.244.0/24 10.8.90.1
ip route vrf MGMT 0.0.0.0/0 10.44.1.254
!
mpls ip
!
ip ftp client source-interface Management1
!
ntp server 10.8.90.1
ntp server 10.8.90.2 prefer
!
patch panel
   patch BAH_Protection
      connector 1 interface Port-Channel4.2244
      connector 2 interface Ethernet48.2244
   !
   patch BAU_Protection
      connector 1 interface Port-Channel7.2342
      connector 2 interface Ethernet48.2342
   !
   patch DOR-PTN-PROTECTION
      connector 2 interface Ethernet48.90
!
router isis RURAL-SR
   hello padding disabled
   net 49.0001.0100.0809.0201.00
   is-hostname RURAL_AGG1
   router-id ipv4 10.8.90.201
   log-adjacency-changes
   timers local-convergence-delay protected-prefixes
   !
   address-family ipv4 unicast
      bfd all-interfaces
      fast-reroute ti-lfa mode link-protection
   !
   segment-routing mpls
      no shutdown
!
router multicast
   ipv4
      software-forwarding kernel
   !
   ipv6
      software-forwarding kernel
!
ip tacacs vrf mgmt source-interface Management1
!
management ssh
   ip access-group SSH in
!
end